[2015-07-13 11:01] lewisnyman opened #2 "Add parameters to only display webmentions of a certain type"
After reading http://indiewebcamp.com/comments-presentation#How_to_display I think that this plugin would become more useful if I were able to separately display replies and shares from just mentions. At the moment I can only display them all together

[2015-07-13 11:06] lewisnyman opened #3 "Publish to rubygems.org"
If [we publish this](http://guides.rubygems.org/publishing/) then it becomes a lot simpler to find, [install,](http://jekyllrb.com/docs/plugins/) and contribute back to. The only way to use it right now is to copy it into the plugins directory which tends to encourage the behaviour of copying and editing instead of posting PRs.

What do you think?

[2015-07-14 14:38] aarongustafson commented on #2
That’s a cool idea. I’ll give it some thought and see what I can do. Or if you want to take a stab at it, feel free to submit a PR. It would probably be best to add new tags for the separated views. Or they could be params on the tag. Not sure which would be best/easier.

[2015-07-14 14:39] aarongustafson commented on #3
Good idea. I have not published anything to RubyGems before, but I will look into the process.

[2015-07-14 14:52] aarongustafson commented on #3
I’m not clear: how would I bundle the JS and rakefile with this as a Gem? The JS I could always expose via a Jekyll tag, so that isn’t as big of a deal, but I’m not sure the convention for supplementary stuff like this, especially the Rake task.

[2015-07-15 10:17] lewisnyman commented on #3
I'm no expert in this either, maybe we could it a go with just the liquid tag and then add to it? I've published a compass extension as a gem before, but that was using this yeoman setup https://github.com/at-import/generator-compass-extension

[2015-07-15 10:18] lewisnyman commented on #2
I think I can give it a go. I'll need this on my site anyway. I'll have a look at the code and decide how tricky  it would be to split this into separate functions.

[2015-07-15 10:20] lewisnyman commented on #3
This might help https://github.com/jekyll/jekyll-test-gem-plugin

[2016-02-18 13:42] borisschapira opened #5 ""Liquid Exception: Socket is not connected""
First, let me thank you for this plugin. Then, I wanted to point out an exception in case somebody has determined how to stop it (maybe @calumryan) ?

Everytime I launch my serve script and modify one file, the exception is thrown :

[code]

`post-mentions.html` is the _include_ where the webmention tag is used.

My setup is here : https://github.com/borisschapira/jekyll/blob/master/Gemfile.lock,

[2016-02-19 19:19] alias1 commented on #3
+1, definitely interested in this as a gem.

Just made a similar PR for indirect/jekyll-postfiles#7 which was mostly generated using `bundler gem jekyll-postfiles` with a few tweaks afterwards.

One thing that I had to do was change the `jekyll/postfiles` folder structure to just `jekyll-postfiles`, otherwise loading through the config file doesn't match other plugins like [jekyll/jekyll-feed](htt

[2016-03-01 23:04] lewisnyman opened #6 "Jekyll 3.1 error: Liquid Exception: undefined method `getConverterImpl'"
I fixed this easily here: https://github.com/lewisnyman/lewisnyman.co.uk-source/commit/5cef5e6f12700b6cca3d51f402632dde924f0db7

Do we need a branch for each breaking version of Jekyll or Ruby? I don't know

[2016-03-02 00:25] aarongustafson commented on #6
We can do it conditionally in the code. Whatever happened to aliasing?

[2016-03-17 18:11] aarongustafson commented on #6
Fixed with 5344e44

[2016-03-17 18:11] #6 closed

[2016-03-17 18:14] aarongustafson commented on #5
Do you have `encoding: utf-8` in your _config? Just checking against other known Jekyll bugs first :-)

[2016-03-17 21:27] borisschapira commented on #5
I don't manage to reproduce the bug anymore, I'm sorry. I updated a few gems and changed a lot of layout. If I reproduce it, I'll reopen. Sorry for the noise.

[2016-03-17 21:27] #5 closed

[2016-04-12 04:58] alias1 commented on #3
This is still definitely a thing i'd be keen on! Any chance you'll have the time to do it? Or if not, got some pointers how you'd want it done, open to PR's?

[2016-04-12 07:31] alias1 opened #7 "Rework webmention rakefile as a command/hook?"
It would be cool to have the webmention rakefile reworked in a way that feels more 'Jekyll 3'
- https://jekyllrb.com/docs/plugins/#commands
- https://jekyllrb.com/docs/plugins/#hooks

Would you be up for having something like this?

[2016-04-12 14:28] aarongustafson commented on #3
I started working on it and got frustrated when trying to figure out how to
bundle the JavaScript for live updating and the rake tasks. I did port the
Crosspost to Medium one :-)

On Tue, Apr 12, 2016 at 12:58 AM, alias1 <notifications@github.com> wrote:

[2016-04-12 14:29] aarongustafson commented on #7
I am (personally) waiting on Octopress to upgrade :-)

On Tue, Apr 12, 2016 at 3:31 AM, alias1 <notifications@github.com> wrote:

[2016-04-12 18:03] alias1 commented on #3
I saw that :) (just installed it)
Hrmm, that's annoying. What aspect of the JS was tripping you up?

Sent from Outlook Mobile

On Tue, Apr 12, 2016 at 7:28 AM -0700, "Aaron Gustafson" <notifications@github.com> wrote:

I started working on it and got frustrated when trying to figure out how to

bundle the JavaScript for live updating and the rake tasks. I did port the

Crosspost to Medium one :-)

[2016-04-12 20:16] aarongustafson commented on #3
How to properly bundle it in the Gem and the best way to expose it back to
Jekyll.

On Tuesday, April 12, 2016, alias1 <notifications@github.com> wrote:

--
Cheers,

Aaron

[2016-04-13 21:00] alias1 commented on #3
So reading over the type of plugins, the 2 that sound potentially useful for exposing the JS to me would be [generators](https://jekyllrb.com/docs/plugins/#generators) (most likely) or hooks.

If we had a generator that reads the contents of the JS file from the gem and makes a new [Jekyll::StaticFile](https://github.com/jekyll/jekyll/blob/master/lib/jekyll/static_file.rb), outputting it to a loca

[2016-04-13 23:16] alias1 opened #10 "Vulnerability: curl usage allows command injection via url/a_photo"
The way you're constructing the curl commands using backticks leaves it open to command injection via the URL parameter.

I found 3 instances:
* [Line 187](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/webmention_io.rb#L187)
* [Line 191](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/webmention_io.rb#L191)
* [Line 248](https://github.com/aarongustafson/jeky

[2016-04-14 00:08] alias1 commented on #3
Started working on the [conversion to gem](https://github.com/alias1/jekyll-webmention_io/tree/convert-to-gem) on my fork. Will see if I can get the above JS loading idea working.

[2016-04-14 18:19] alias1 commented on #3
Got the JS file from gem -> built site working with a generator.

Still need to create the JS liquid tag and convert the rake task to a jekyll command.

[2016-04-15 19:39] aarongustafson commented on #10
Good catch! I’ll look into fixing that.

[2016-04-17 08:37] alias1 opened #11 "Give rake task the ability to detect and notify pingback endpoints"
Webmention is awesome, but it would be super useful to be able to notify legacy pingback urls for those that aren't yet using it.

[2016-04-17 08:50] alias1 opened #12 "Rake task will download entire file looking for webmention endpoint"
While processing URLs, the rake task will download the entire file while looking for the webmention endpoint. On most html pages, this is fine, but it seems it will also download any arbitrary binary/etc links (eg zip files, pdf's, iso's, etc) that are linked from posts.

[2016-04-17 09:06] alias1 commented on #3
Just created a PR for this @aarongustafson @lewisnyman

Mostly tested with Jekyll 3.x

Let me know what you think.

[2016-04-18 17:28] aarongustafson commented on #10
It’s amazing how much more work you need to do to accomplish the same thing in Net::HTTP. The error handling alone… Should be pushing a fix for this shortly.

[2016-04-18 17:38] #10 closed

[2016-04-18 18:00] alias1 commented on #10
Haha, that's annoying :( Better than a system takeover though I guess :p

[2016-05-13 01:36] alias1 commented on #3
Heya, Just wondering if you'd had a chance to check the PR out yet?

[2016-05-18 14:42] aarongustafson commented on #3
I’m sorry I have not had much of a chance to tuck into it yet. I’m prepping
to give a talk at SpeechTek next week and am also solo-parenting my
5-month-old right now while my wife is at another conference :-/

I should have some time toward the end of next week. I sincerely apologize
for the delay.

On Thu, May 12, 2016 at 9:36 PM, alias1 <notifications@github.com> wrote:

[2016-05-18 22:05] alias1 commented on #3
Eep, business! No stress, just wanted to make sure it didn't get forgotten about :)

Get Outlook for iOS

On Wed, May 18, 2016 at 7:42 AM -0700, "Aaron Gustafson" <notifications@github.com> wrote:

I’m sorry I have not had much of a chance to tuck into it yet. I’m prepping

to give a talk at SpeechTek next week and am also solo-parenting my

5-month-old right now while my wife is at another confer

[2016-05-26 07:08] miklb opened #14 "Ability to parse more than markdown file for links?"
Might be a vague title, not sure how to phrase. Basically I'd like to add a conditional to my `_includes/post.html` file to check if some Front Matter exists, and if so, add a link to brid.gy.

If you can give an idea of how, I'd be happy to attempt to provide a pull request, just not that familiar with Ruby/Jekyll internals.

Longer explanation, I'm working through a micropub endpoint and want to

[2016-05-26 17:33] aarongustafson commented on #14
So, just to be clear, you want to be able to ping other URLs stored in the front-matter (in addition to those contained in the content of the post). Is that right? If so, it should not be too difficult.

[2016-05-26 19:57] miklb commented on #14
@aarongustafson that would be an interesting approach, but what I'd like to do is

[code]

As I mentioned, I'm using a micropub client that I can define a `syndicate-to` link, which then produces
[code]
Could be Facebook or some other silo I could POSSE to. Eventually the logic in that Liquid markup could be a check to determine what the `syndicate-to` links is and send the appropriate webmention

[2016-06-04 17:55] miklb commented on #14
I'm sure you're busy, but any chance you could give me some pointers on how to parse links in Front Matter to be included in the in webmentions sent cache file?

[2016-06-09 16:24] miklb commented on #14
I've gotten as far as
[code]
Where `mf-syndicate-to` is Front Matter set by my micropub client. What I haven't figured out is how to check the value of it, or ideally I think now would be to check if set, then iterate over any values and send webmentions

Hoping when you have a few free minutes can give some pointers. Thanks in advance @aarongustafson

[2016-06-28 00:46] miklb commented on #14
Ran into a problem.

My Front Matter is formatted as such
[code]
which is causing the plugin to parse the `-` or add one. In my `webmentions.yml` file it gets added as
`- - https://brid.gy/publish/twitter` which then isn't sent as a webmention.

Any suggestions?

[2016-06-28 07:15] miklb commented on #14
OK, finally figured it all out

[code]
will loop through links in the front matter and properly insert them in the cache file.

Leaving this here if anyone comes along and wants to modify the plugin similarly.

[2016-06-28 07:15] #14 closed

[2016-07-14 07:30] miklb opened #15 "Error Checking if wm.io down"
Just ran into an issue where webmention.io is currently down, throwing a 502 error, stopping jekyll build in its tracks.

Wondering if there is a way to bail on checking for webmentions in that scenario?

[2016-07-14 18:11] aarongustafson commented on #15
Seems doable. I think I added similar checks on other URL polling. I’m putting together a talk for the week after next and will be traveling for conferences over the next two weeks, but I will see if I can slip it in quickly.

[2016-07-14 18:13] aarongustafson commented on #12
Interesting. Any thoughts on how to avoid this? I suppose we could look at the MIME response in the header, but the file would still be captured. I could do a header request only, but then I would have to request the html file as well, adding additional time to the process. Another option would be to parse the URL and try to guess, but that’s also fraught with potential issues (assumptions, you kn

[2016-07-14 18:14] miklb commented on #15
Cool. Aaron fixed the 502 error on the site this morning and don't anticipate anything being down for a long period, but worth having on radar since it breaks the build.

Thanks as always for the plugin.

[2016-07-14 18:15] aarongustafson commented on #11
Good thinking. I will take that onboard as a feature request. It seems easy enough to grab out of the `head`.

[2016-07-14 18:18] aarongustafson commented on #3
Still tracking this, I‘m sorry I have been so quiet. I will review soon, I promise!

[2016-07-27 00:34] alias1 commented on #3
That's alright. I know the feels when life gets crazy. Let me know if there's anything I can do to help get it merged.

[2016-07-27 00:39] alias1 commented on #12
My original thought was the HEAD thing.. but the extra requests could be a pain.

The other idea I was having was just an arbitrary cutoff point, since the webmention should be in the head tags (from memory), it'd be unlikely that the head would be beyond 1/10/100kb for example. So while not an ideal solution, would prevent trying to pull down 100's of mb's of zip/iso/etc.

While it's sort of more

[2016-08-15 17:20] miklb opened #16 "Suggestion on Storing Webmention Response?"
In a perfect world, syndicated posts (i.e. notes POSSE'd to Twitter) should have a `rel-syndication` link [IndieWeb - rel-syndication](https://indieweb.org/rel-syndication).

I realize that a webmention can't be sent until after the post is generated, so for what I want to do, which may be out of the scope of this plugin, is store the the syndication link as Front Matter and generate a new build t

[2016-08-19 15:21] miklb commented on #16
I decided to replace the `curl` with a `net/http` call
[code]
And I think I'm going to a check for the response code and then dump the response into a `_data` file so the whole object is available to use.

Curious if a similar approach could be taken for received webmentions, that is, stored in a data file so  user could have more flexibility in the markup, and more data portability with webmentio

[2016-10-07 19:31] miklb opened #17 "Jekyll 3.3 breaks webmention caching"
I haven't dug into it yet, but I suspect the changes to `site.url` and local dev  - [Jekyll 3.3 release](http://jekyllrb.com/news/2016/10/06/jekyll-3-3-is-here/) are at play.

Running `jekyll serve` locally changed the `webmentions.yml` file to use `http://localhost:4000` instead of the my domain url. If I find a fix I'll send a pull request or update this issue since my fork is fairly customized

[2016-10-17 16:46] miklb commented on #17
Following up, this was specific to using `jekyll serve` locally, and apparently it was a design decision to hijack the `site.url` for serving locally unless you set the `JEKYLL_ENV` to something other than `development` (the default) when serving the site. Seems like a heavy handed approach to me.

So to summarize, if you don't want your cache file to be overwritten with `localhost:4000` for your

[2017-01-25 15:55] nhoizey opened #18 "Error: incompatible character encodings: UTF-8 and ASCII-8BIT"
When I add `{%webmentions <my URL> %}` to my `_layouts/post.html` template and run `bundle exec jekyll build`, I get the following error:

[code]

[2017-01-25 16:14] aarongustafson commented on #18
I just ran into this the other day too. I will check in the fix that seems to be working for me.

[2017-01-25 16:16] nhoizey commented on #18
Great!

[2017-01-25 16:23] aarongustafson commented on #18
Pushed. Commit c9cfb36. Updated the Js a bit in the follow-up commit too.

[2017-01-25 16:23] #18 closed

[2017-01-25 18:26] aarongustafson commented on #17
If `site.url` gets updated, does the actual `config` variable? If not, I may be able to tweak it to reference the original config value instead.

I haven’t moved to Jekyll 3 yet, so I have not been able to test myself.

[2017-06-20 00:36] aarongustafson commented on #3
Just an update: The move to a gem is in progress.

[2017-06-20 04:25] alias1 commented on #3
Woohoo!!

[2017-06-20 14:30] aarongustafson commented on #16
This is part of the overhaul I am in the process of doing right now. You’ll be able to create your own markup templates and get webmentions in aggregate or in collections of likes, reposts, etc.

[2017-06-20 18:42] martymcguire commented on #16
I haven't packaged it up for release, yet, but I made a similar plugin that fetches and caches incoming webmentions in `_data` keyed by source+target to reduce duplication, but also indexed by post so looking up "mentions for this post" is pretty trivial.

Some of it is probably pretty specific to my site layout, but might be useful to crib from??

[2017-06-21 02:48] aarongustafson commented on #16
Great! This one already does that too. It's not in data, though that would
be trivial to do as the cache location is configurable ;-)

[2017-06-21 20:25] aarongustafson commented on #17
Flagging this to avoid sending webmentions if the site is serving (as opposed to building).

[code]

[2017-06-21 20:26] aarongustafson commented on #17
Actually, looking back, I revised this to make sending a jekyll command. Closing this since it will be a manual thing (or part of your build process).

[2017-06-21 20:26] #17 closed

[2017-06-21 20:28] aarongustafson commented on #15
Bad URL caching (with a configurable cache duration) is in the gem release.

[2017-06-21 20:28] #15 closed

[2017-06-21 20:31] aarongustafson commented on #12
Could incorporate this: https://github.com/indieweb/mention-client-ruby

[2017-06-21 20:31] aarongustafson commented on #7
I added a command for sending webmentions to the forthcoming gem.

[2017-06-21 20:31] #7 closed

[2017-06-21 20:32] aarongustafson commented on #3
You can preview here: https://github.com/aarongustafson/jekyll-webmention_io/tree/gem_conversion

[2017-06-21 20:32] #3 closed

[2017-06-21 20:34] aarongustafson commented on #2
This is in the forthcoming gem. Here’s a sample of what you’ll have:

[code]

[2017-06-21 20:34] #2 closed

[2017-06-21 22:30] alias1 commented on #12
That sounds awesome. I'm all for using standardised libraries where possible.

Would have to check what they do for large files, but if it's still an issue probably better fixed as a PR there anyway, help more people :)

[2017-06-22 15:25] aarongustafson opened #22 "Jekyll isn’t finding the gem when bundled from RubyGems"
Oddly, if I specify a path to the gem locally in the `Gemfile` it works:

[code]

I am sure it’s a simple fix and exhaustion is keeping it just out of reach, but I’m hitting a point of diminishing returns here and cannot seem to get it to work when I bundle in the normal way:

[code]

When I do, I get the dreaded "Yikes!" error

[code]

This is with Jekyll 3.4.x and 3.5. Included the plugin in the

[2017-06-22 15:26] aarongustafson commented on #22
I think I’ve managed to capture all of the runtime dependencies in the spec. I thought that might be the issue.

[2017-06-22 20:54] aarongustafson commented on #22
I’m wondering if the issue is OpenSSL (used for reading web pages & getting responses).

[2017-06-22 22:01] miklb commented on #22
@aarongustafson I vaguely recall having an issue with OpenSSL and Ruby so you may be on right track. I do not recall what I had to do to resolve it however.

[2017-06-22 23:29] alias1 commented on #22
What output (if any) are you getting after running 'bundle install'?

[2017-06-23 08:51] nhoizey opened #24 "Optimize avatars"
Avatars provided by webmention.io can be really heavy, like [this one](https://s3-us-west-2.amazonaws.com/ca3db/twitter.com/157a8e9c1212a9506cc12c2cc7013889236e35667ba1444b7343ce6f69928ad9.jpeg) used [here](https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html#webmentions):

<img width="954" alt="image" src="https://user-ima

[2017-06-23 08:56] nhoizey commented on #22
@aarongustafson if Jekyll can't find or load the gem, why would it be related to OpenSSL, which is used by the gem?

[2017-06-23 11:37] aarongustafson commented on #24
Yes! I'm the new gem-based version I noticed the sizes are way out of whack
(as in wildly inconsistent). I've been thinking about it but need to fix my
get issues first. I agree Cloudinary could be good. Or one of the other
offerings that don't require an account. Config option proposals welcome!

[2017-06-23 11:46] nhoizey opened #25 "(optionaly?) generate Jekyll data files with webmentions"
Using [Jekyll Data Files](https://jekyllrb.com/docs/datafiles/) would allow us to use templates to generate whatever HTML we need, or even other formats, like RSS/Atom.

It would also help fix the issue with avatars size/weight (#24) because we could use the method of our choice for image optimizations. I, for example, would be able to use my [Jelyll Cloudinary plugin](https://nhoizey.github.io/je

[2017-06-23 11:47] nhoizey commented on #24
There might be an elegant way to deal with this: #25

[2017-06-23 12:01] aarongustafson commented on #25
I'm making caching to data files an option.

[2017-06-23 12:27] nhoizey commented on #25
Great!

[2017-06-23 12:57] #25 closed

[2017-06-23 13:38] aarongustafson commented on #25
Actually, it's probably worth pointing out that the plugin will have default templates but you will be able to supply your own, so there would not be an issue using cloudinary, etc. anyway, even without data files.

[2017-06-23 14:31] nhoizey commented on #25
Perfect!

[2017-06-23 19:11] aarongustafson commented on #22
I figured it out. Seems it was not liking anything being outside the lib folder (despite me adding those files to the gem).

[2017-06-23 19:11] #22 closed

[2017-06-23 19:14] aarongustafson commented on #25
New API in _config.yml. I probably won’t get to document until next week:

[code]

New tag assortment:

[code]

[2017-06-24 08:21] nhoizey commented on #22
Great news!

[2017-06-26 16:27] aarongustafson opened #28 "Bring back the JS"
- [x] Clean up the JS for the new markup setup
- [x] Enable import of the Liquid templates into JavaScript
- [x] Add configuration option for where to dump the JS file
- [x] Add build task for minifying the JavaScript file
- [x] Update documentation

[2017-06-26 16:28] aarongustafson commented on #24
I am going to close this as I believe the custom template option should be enough to handle it. If it’s not—which I can only imagine would be if there’s something else I need to handle in the Liquid parser for the templates—I can re-open this bug.

[2017-06-26 16:28] #24 closed

[2017-06-26 16:31] aarongustafson opened #29 "Build out the testing code"
- [ ] Determine the best way to handle tests (rendered Liquid vs method)
- [ ] Determine testing framework
- [ ] Write tests

[2017-06-26 16:34] aarongustafson commented on #16
I just updated the docs (and the gem). Take a look. Everything is structured as true YAML data so you can do totally custom templates (per tag!) if you want.

In terms of POSSE-ing your content, this gem is not doing that… yet.

I’m going to close out this bug and add an enhancement request for storing responses to webmentions that have been made. Those webmentions are tracked (so we don’t make th

[2017-06-26 16:34] #16 closed

[2017-06-26 16:37] aarongustafson opened #30 "Store response data from sent webmentions"
This bubbled up in #16. Should be easy enough.

It might also make sense to combine the (currently)  two separate "outgoing" & "sent" webmentions files and track all of the details in one spot (as opposed ot having to work across two files.

[2017-06-26 19:29] aarongustafson opened #31 "Would you like to configure how often the plugin looks for webmentions?"
Just wondering if it might be useful for speeding things up when you are debugging a build. Could be a configuration option like `skip_webmention_collection_for` and take a number of days as an argument.

[2017-06-26 19:50] miklb commented on #31
I think that would be useful, and if I'm reading correctly, an option would be to only check for webmentions for last X days? A 12 year old blog with some crufty links from the early days don't really need to be checked in my own anecdotal experience.

[2017-06-26 20:00] aarongustafson commented on #31
Actually I was thinking about pausing all lookups for a period of time. It
might be possible to add some advanced config down the line to check older
posts less frequently. Something like

[code]

It’s possible. It’d be interesting to see if folks would be interested in
that.

[2017-06-26 20:02] aarongustafson commented on #31
Actually I was thinking about pausing all lookups for a period of time. It
might be possible to add some advanced config down the line to check older
posts less frequently. Something like

[code]

It’s possible. It’d be interesting to see if folks would be interested in
that.

[2017-06-26 20:04] miklb commented on #31
👍 definitely would be nice for local dev.

My build times had gotten really long & I was basically attributing it to all the links/posts it was checking. I'm about to do another Jekyll site for small project and look forward to testing out the new gem. Thanks for all the work on it.

[2017-06-26 22:00] nhoizey commented on #24
I agree.

[2017-06-26 23:39] aarongustafson commented on #31
I went ahead and added the basic pause in 2.1.0: https://github.com/aarongustafson/jekyll-webmention_io#pausing-lookups

[2017-06-27 21:24] aarongustafson commented on #28
You can track progress in [the javascript_rewrite branch](https://github.com/aarongustafson/jekyll-webmention_io/tree/javascript_rewrite).

[2017-06-28 03:23] aarongustafson opened #32 "Add webmention.io link tag"
Optional: add pingback forwarding

[2017-06-28 21:09] aarongustafson commented on #28
The JS clocks in at just shy of 35kB minified. It’s totally optional and can even be disabled globally in the `_config.yml` file.

[2017-06-29 19:57] #28 closed

[2017-06-29 20:18] aarongustafson commented on #32
[code]

[2017-07-05 15:37] #32 closed

[2017-07-05 18:10] aarongustafson commented on #11
Looks like the Pingback Gem has some edges and has not received any love since 2015. I’m working on it though.

[2017-07-05 18:14] aarongustafson commented on #11
Gonna back this out of 2.3 while I figure that out. I may also take over the webmention Ruby gem and do the integration there. Not sure yet.

[2017-07-05 18:32] aarongustafson commented on #30
Integrating the webmention gem allows for this more easily. To make it happen thought, I need to do a few things:

- [ ] Write a sent webmentions migration script
- [ ] Figure out the best way to store responses
- [ ] Implement the change

[2017-07-05 18:35] aarongustafson commented on #12
I’ve implemented the webmention gem lookup in 2.3. It goes for the request header first, then grabs the document and selects the appropriate link element.

[2017-07-05 18:35] #12 closed

[2017-07-05 20:36] alias1 commented on #12
Sweet :)

[2017-07-06 18:54] aarongustafson commented on #30
@miklb @martymcguire Are you just looking for me to store the response body or do you want headers and such too?

[2017-07-06 19:15] aarongustafson opened #36 "Integrate `since_id`"
Details: https://github.com/aaronpk/webmention.io/issues/9#issuecomment-313476004

[2017-07-06 20:47] miklb commented on #30
@aarongustafson  For me the response body would be enough.

[2017-07-06 20:59] martymcguire commented on #30
Same. There is a possible use case for storing HTTP result codes if there
is an error fetching the content, but I don't currently try to use it, so
🤷‍♂️

On Jul 6, 2017 4:47 PM, "Michael Bishop" <notifications@github.com> wrote:

[2017-07-06 21:31] miklb commented on #30
agreed the response code would be handy for debugging.

[2017-07-06 23:27] aarongustafson commented on #30
So… assuming there’s not an location or server error, the response should provide an error object in the JSON, so that would get passed into the response body. The way I have things set up (and the way the webmentions gem processes the response), any failure will result in a `false` return. I currently have a `false` value as the default state that indicates a URL has not been mentioned. Storing f

[2017-07-06 23:29] aarongustafson commented on #30
It’s worth noting that, for legacy purposes, I am adding a function to upgrade from the old two-file setup (queued and sent) to the combined file. For any webmentions that have been sent prior to the upgrade, I was planning to have the value be an empty string `""`. Any thoughts on that?

[2017-07-06 23:32] aarongustafson commented on #30
I have some logs running during the build to let you know what’s going on:

[code]

I will likely slim these down for production and limit it to successes and failures an webmentioning only rather than reporting missing endpoints and such.

[2017-07-07 00:02] miklb commented on #30
👍

I recall seeing the logging commented out in the old plugin, was helpful for me when I was debugging some things.

Here's an example of how I was dumping a raw response from bridgy [to a json data file](https://github.com/miklb/miklb.github.com/blob/jekyll/_data/10384.json) so your example definitely looks cleaner. My hacked together [Rakefile](https://github.com/miklb/miklb.github.com/blob/jek

[2017-07-07 14:37] #30 closed

[2017-07-07 15:04] #36 closed

[2017-07-14 10:30] alias1 opened #39 "Quickstart guide in readme?"
Reading through the whole readme (with knowledge of how most of it works) there is enough info to get things going, but it might be useful to have a tiny little quickstart, like:

* Add `gem 'jekyll-webmention_io'` to Gemfile
* Add plugin to `gems` section of _config.yml
* `bundle install`
* Add X tag to headers
* Add Y tag to body
* Add x tag to post template
* etc

[2017-07-14 10:32] alias1 commented on #31
I'd like throw a +1 in for 'don't do older posts'. Even if it's just a really simple thing like "don't check before date X"

[2017-07-14 10:53] alias1 opened #40 "Bug: NoMethodError: undefined method `[]' for nil:NilClass"
If I wipe my cache folder, and run the below command, it seems to work properly (at least doesn't crash). The 2nd time I run it, I get the following.

I'm also not seeing any actual mentions, even though I am pretty certain there should be (querying webmention.io for my domain using the key shows me a number that don't show up)

[code]

[2017-07-14 11:17] alias1 opened #41 "JekyllWebmentionIO.js, why source folder?"
Just curious, why're you generating the `JekyllWebmentionIO.js` into the source folder? I think in my original gem version (would have to check), I used a generator to just make it go straight into the 'build' folder when the site is generated. No need to clutter up the source that way.

See: https://github.com/alias1/jekyll-webmention_io/blob/convert-to-gem/lib/jekyll-webmention-io/webmention_js_

[2017-07-16 17:39] calumryan opened #42 "bundler: failed to load command: jekyll"
May be something in my own setup but trying to resolve this at the moment..

`remote: Bundler::GemRequireError: There was an error while trying to load the gem 'jekyll-webmention_io'.`
`remote: Gem Load Error is: uninitialized constant Jekyll::WebmentionIO::WebmentionTag`
`remote: Backtrace for gem load error is:`
`remote: /var/tmp/git/calumryan.com/vendor/bundle/ruby/2.4.0/gems/jekyll-webmention_

[2017-07-17 15:50] aarongustafson commented on #39
Done!

[2017-07-17 15:50] #39 closed

[2017-07-17 15:55] aarongustafson commented on #40
I have a test bugfix for this. I’m pushing it to the `bugfixes-2017-07-17` branch. Can you the gem from a local source and let me know if this fixes the issue?

[2017-07-17 15:57] aarongustafson commented on #41
The reason I did that was to enable folks to modify the JS source if they wanted to. I can make it configurable if you would like. Maybe by setting `js.destination` to `false`?

[2017-07-17 16:01] aarongustafson commented on #42
Hmm, I wonder if it is a directory sorting issue. The base `Class` loads in the tags:

[code]

And the default one is `_.rb`, which _should_ sort first. But I can make it explicit and you can give that a try.

[2017-07-17 16:19] aarongustafson commented on #42
@calumryan Can you try with a local version of the gem from the [`bugfixes-2017-07-17` branch](https://github.com/aarongustafson/jekyll-webmention_io/tree/bugfixes-2017-07-17)? I set it up to explicitly pull the `_.rb` file first before looping.

[2017-07-17 16:45] aarongustafson commented on #31
You do run the risk of losing stuff @ that point though. Plus, FWIW, I’ve
implemented `since_id` in the queries to webmention.io, so the script will
have a reduced amount of processing to do (which will speed it up immensely
as before it was re-processing a constantly growing list of mentions).

On Fri, Jul 14, 2017 at 6:32 AM, alias1 <notifications@github.com> wrote:

[2017-07-17 20:32] alias1 commented on #31
Hrmm, that's fair. I guess my use case was that if it's an old post from like 2003 or something I don't know if I care. But that's probably not entirely true now that I think about it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Gustafson <notifications@github.com>
Sent: Tuesday, July 18, 2017 2:48:30 AM
To: aarongustafson/jekyll-webmention_io
Cc: alias

[2017-07-17 20:34] alias1 commented on #41
That makes sense. Yeah, the ability to have it automagically pass through would be good for me.

What would be a usecase for needing to modify it manually?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Gustafson <notifications@github.com>
Sent: Tuesday, July 18, 2017 2:23:41 AM
To: aarongustafson/jekyll-webmention_io
Cc: alias1; Author
Subject: Re: [aaron

[2017-07-17 20:35] alias1 commented on #39
Awesome, thanks :)

[2017-07-18 10:29] alias1 commented on #40
Testing that version, seems to no longer get the nil error

[code]

Takes an extremely long time to go through though :(

Also, still not seeing any mentions for my URLs in the cache when I know there definitely should be some.

They look like this:

[code]

Is that right? Where/how is it reading the domain/etc?

[2017-07-18 19:42] aarongustafson commented on #41
I will look into the pass-through. Manual modification might be necessary if you use a custom HTML template and need to tweak the JS. After publishing & modifying it, you’d want to turn off the auto-build.

Mostly it’s for tools like Webpack, Gulp & Grunt though.

[2017-07-18 19:45] aarongustafson commented on #40
It should speed up over time.

Yep.

It pulls the domain from the `_config.yml` file `url` value. It also factors in `webmentions.legacy_domains`.

[2017-07-18 19:45] #40 closed

[2017-07-18 20:24] alias1 commented on #40
Cool, I need to do some digging to see exactly what the URL structure of the old mentions was then.

[2017-07-18 20:26] alias1 commented on #41
That makes sense

[2017-07-19 14:34] aarongustafson commented on #41
Ok, I tried to make it work and in order to get Jekyll to load the static file into the destination folder as part of the Jekyll build, the file needs to exist in the source folder. I tried making it work without it and I also tried removing the file after processing and neither worked (Ruby errors). Sorry, but it looks like you’re going to have to live with a file being output.

That said, [you c

[2017-07-19 14:34] #41 closed

[2017-07-19 14:36] aarongustafson commented on #42
Pushing the change now. Please re-open this bug if you still have issues with it.

[2017-07-19 14:36] #42 closed

[2017-07-19 20:17] alias1 commented on #41
Did you look at static file generators and the code I used in my original gem version? My version reads the file from the gem source and writes it into the built site, no need to exist in the source.

Can link/copy the code here if you need (or just look at the gem branch on my fork of this project)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Gustafson

[2017-07-19 20:48] aarongustafson commented on #41
I'll take a look.

On Jul 19, 2017 4:17 PM, "alias1" <notifications@github.com> wrote:

[2017-07-19 21:15] alias1 commented on #41
Link for reference (also at the top of this thread): https://github.com/alias1/jekyll-webmention_io/blob/convert-to-gem/lib/jekyll-webmention-io/webmention_js_generator.rb

And the relevant docs: https://jekyllrb.com/docs/plugins/#generators

[2017-07-20 07:14] calumryan commented on #42
Tried with this however I seem to be having problems with running the bundler installation on my server deployment stage that's now preventing me from testing this further. This is probably related to other ruby gems and permissions possibly on my server. Persisting with that at the moment.

[2017-07-20 18:30] aarongustafson commented on #41
2.6.0 includes the `source: false` option. Thanks for the pointer!

[2017-07-22 05:40] alias1 opened #46 "[2.6.0] NoMethodError: undefined method `[]' for nil:NilClass"
[code]
[code]

The line in question is `Jekyll::WebmentionIO::config['js']['destination'] || '/js/'`

The related line in [my version](https://github.com/alias1/jekyll-webmention_io/blob/convert-to-gem/lib/jekyll-webmention-io/webmention_js_generator.rb#L10) was `@site.config['jekyll-webmention-io']['js'] || "/assets/js/"`

Related to #41 / #44

Looks like this should be reading the `js` key from

[2017-07-22 11:17] nighcrawl opened #47 "jekyll 3.4.3 | Error: undefined method `[]' for nil:NilClass"
Hi,

Could you help me to fix this error, please ? Is there a problem with my Jekyll version or something ?

[code]

[2017-07-24 05:02] stuartbreckenridge opened #48 "jekyll webmention command cannot be found"
After installing I have been able to get the plugin working as intended. However, the `jekyll webmention` command fails with the following error:

[code]

The error doesn't make much sense as the plugin working for other things.

[2017-07-24 12:02] aarongustafson commented on #46
I'm on vacation this week and don't have anything with me except my phone. I can take a look next week.

[2017-07-24 12:03] aarongustafson commented on #47
I'm on vacation this week and don't have anything with me except my phone. I can take a look next week.

[2017-07-24 12:03] aarongustafson commented on #48
I'm on vacation this week and don't have anything with me except my phone. I can take a look next week.

[2017-07-24 20:23] alias1 commented on #46
No rush :) Enjoy it!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Gustafson <notifications@github.com>
Sent: Monday, July 24, 2017 10:03:10 PM
To: aarongustafson/jekyll-webmention_io
Cc: alias1; Author
Subject: Re: [aarongustafson/jekyll-webmention_io] [2.6.0] NoMethodError: undefined method `[]' for nil:NilClass (#46)

I'm on vacation this week and don'

[2017-07-25 14:33] stuartbreckenridge commented on #47
Workaround for this is to use `js: false` in the webmention setup in the `_config.yml` file.

[2017-07-31 20:33] aarongustafson commented on #47
@nighcrawl Can you run the script again with the `--trace` option on? That will help me suss out the source of the issue.

[code]

[2017-07-31 20:59] #46 closed

[2017-07-31 21:01] aarongustafson commented on #47
I just pushed a potential fix (assuming this was a dupe of #46). Give 2.6.1 a shot and let me know if you have an issue.

[2017-07-31 21:01] aarongustafson commented on #48
Hmm, did you try

[code]

[2017-08-01 00:08] stuartbreckenridge commented on #48
Yep.

[2017-08-01 11:36] nighcrawl commented on #47
Thanks for your replies. I'll test it tonight

[2017-08-01 15:24] aarongustafson commented on #47
@nighcrawl Awesome, thanks!

[2017-08-01 15:27] aarongustafson commented on #48
@stuartbreckenridge When you run `gem list` and `bundle list`, which versions of the gem do you see?

[2017-08-01 15:29] stuartbreckenridge commented on #48
`gem list`:
`jekyll-webmention_io (2.6.1)`

`bundle list`:
`* jekyll-webmention_io (2.6.1)`

[2017-08-01 16:16] aarongustafson commented on #48
Hmm, and you get the same fatal error in both scenarios?

[2017-08-02 06:35] stuartbreckenridge commented on #48
Yep. I can't work it out.

`trace` doesn't reveal anything and the code seems to be in good shape. Will have another look this evening.

[2017-08-02 17:42] nighcrawl commented on #47
I've done a `bundle update` to get the latest version before `bundle exec jekyll build` and it's all good.

Thanks for your time :)

[2017-08-02 17:42] #47 closed

[2017-08-02 17:50] aarongustafson commented on #47
Awesome! Thanks for verifying!

[2017-08-02 17:51] aarongustafson commented on #48
Thanks! It’s perplexing for sure.

[2017-08-03 10:04] nhoizey opened #53 "[2.6.2] NoMethodError: undefined method `[]' for nil:NilClass"
Using Jekyll 3.5.1 and jekyll-webmention_io 2.6.2, I get this error when trying to build:

[code]

With `--trace`, I get this:

[code]

I don't know if it's a duplicate of #46 or #47

[Line 15 of `gather_webmentions.rb`](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/generators/gather_webmentions.rb#L15) is:

[code]

My `_config.yml` contains this:

[code]

I have th

[2017-08-03 11:17] aarongustafson commented on #53
I'll take a look shortly.

[2017-08-03 12:24] nhoizey commented on #53
Thanks. No need to hurry… ;-)

[2017-08-03 14:39] aarongustafson commented on #53
How comfortable are you with making this plugin require Ruby >= 2.3?

[2017-08-03 15:35] nhoizey commented on #53
I think I'm currently using Ruby 2.4

[code]

[2017-08-04 15:03] aarongustafson commented on #53
Ok, I made some revisions on my end and have run through tests against my dummy Jekyll install and all looks good. Can you pull the latest form master and test locally to confirm everything is working as expected before I release it?

I’ve DRY-ed up the template extraction code and switched to safer lookups. In my testing it looks good, but until I get testing code in place (which is on my plate f

[2017-08-07 11:51] nhoizey commented on #53
@aarongustafson it works, congrats!

I just have a webmention that doesn't show anything with the default template:
https://nicolas-hoizey.com/2017/07/so-long-disqus-hello-webmentions.html#webmention-447800

[2017-08-07 13:40] aarongustafson commented on #53
Cool. Can you file a separate bug for that? Maybe with a copy of the .yml
file and I'll being used so I can diagnose?

On Aug 7, 2017 7:51 AM, "Nicolas Hoizey" <notifications@github.com> wrote:

[2017-08-07 14:35] nhoizey opened #54 "How to show a webmention without any content?"
I received a webmention that doesn't show anything with the default template:
https://nicolas-hoizey.com/2017/07/so-long-disqus-hello-webmentions.html#webmention-447800

Here's the data:

[code]

Maybe it could use the URL if there's no content.

[2017-08-07 14:35] nhoizey commented on #53
Of course! Done: #54

[2017-08-07 20:26] nhoizey opened #55 "Standardize naming of liquid tags"
There is currently a mix between singular and plural forms of "webmention":
- webmention**S**
- webmention_count
- webmention_likes
- …

Maybe it would be easier for users if the same form is always used.

I had a problem, because I used a plural for webmention**s**_count, and lost time finding why it didn't give me anything.

The singular form is in the plugin name, but the former version of the

[2017-08-08 17:06] aarongustafson commented on #55
I understand where you’re coming from, but I’d argue it is consistent overall. The only real questionable one (to my mind) is the `webmention_count` tag. I’m happy to alias that tag to `webmentions_count` if you like. In all of the other instances, the tag is plural ("likes", etc.)

[2017-08-08 17:08] #53 closed

[2017-08-08 17:16] aarongustafson commented on #54
I think I would prefer to fall back to the `sentence_html`. Any reason you wouldn’t want that?

FWIW - you’ll still have access to any part in your templates via the `raw` hash.

[2017-08-08 17:25] aarongustafson commented on #54
Should be working in 2.6.3

[2017-08-08 17:25] #54 closed

[2017-08-08 17:27] aarongustafson opened #56 "Collect Twitter Webmentions not in Brid.gy"
I have a rake task that gathers any mentions of a URL and supplements brid.gy data. I could add it as a command if there’s interest. It would require a Twitter API key.

Thoughts? @nhoizey @alias1 @stuartbreckenridge @eminaksehirli

[2017-08-08 20:25] alias1 commented on #56
That sounds cool. Didn't realise bridgy didn't do that already

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Gustafson <notifications@github.com>
Sent: Wednesday, August 9, 2017 3:27:30 AM
To: aarongustafson/jekyll-webmention_io
Cc: alias1; Mention
Subject: [aarongustafson/jekyll-webmention_io] Collect Twitter Webmentions not in Brid.gy (#56)

I have a ra

[2017-08-08 20:28] aarongustafson commented on #56
I've seen a few missing ones. Some predate Brid.gy.

[2017-08-09 16:33] aarongustafson commented on #55
Does that work for you, @nhoizey?

[2017-08-09 16:39] aarongustafson commented on #31
I am going to begin working on this, but just an FYI: I have implemented `since_id` with webmention.io in PR #38, so the processing time should be greatly reduced now.

[2017-08-09 19:20] nhoizey commented on #55
Yes, it is better like this, thanks!

[2017-08-09 19:20] #55 closed

[2017-08-09 19:28] nhoizey opened #57 "Make webmentions_count a "real" number"
I've lost some time wondering why this liquid test didn't give me the result I was waiting for:

[code]

It looks like `webmentions_count` is an HTML fragment, instead of just the number I was expecting.

The README says "The output will be a number".

IMHO, the HTML should be in the templates, and `webmentions_count` should indeed be a number.

[2017-08-09 19:30] nhoizey commented on #54
`sentence_html` is fine!

[2017-08-09 19:31] nhoizey commented on #56
It would be nice, indeed!

[2017-08-10 13:14] stuartbreckenridge commented on #48
Still nothing on this. Does anyone else have the issue!? :-(

[2017-08-10 14:46] nhoizey opened #60 "Unable to use my own "likes" template"
I've been trying to use my own template for the likes, so that I can use Cloudinary to optimize avatars:

https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_includes/webmentions/likes.html

I've made the necessary settings, I think:

https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_config.yml#L80-L81

But it keeps using the default template :

https://nicolas-hoizey.com/2017/07/s

[2017-08-10 15:35] nhoizey commented on #48
I don't have this issue, sorry.

[2017-08-10 15:42] nhoizey opened #61 "Don't break when a mentioned website doesn't respond"
I have old posts on my blog, with links to sites that don't exist anymore.

When I run the `bundle exec jekyll webmention` command, it breaks when trying to send a mention to the first of these sites:

[code]

Can I change `false` to anything else in the `webmention_io_outgoing.yml` file, to make the command ignore this mention?

[2017-08-10 15:44] aarongustafson commented on #61
I will take a look @ this.

[2017-08-10 15:50] nhoizey commented on #61
Great, thanks!

[2017-08-10 15:53] aarongustafson commented on #60
Can you uncomment `Jekyll::WebmentionIO::log 'info', "Template file: #{template_file}"` inside `get_template_contents` and let me know what it says for that template?

[2017-08-10 16:26] nhoizey commented on #60
I can't find where bundler put the gem, because I use the github URL in my Gemfile to have the latest master version, instead of the packaged version.

Do you have any idea where it is, on macOS?

[2017-08-10 21:10] nhoizey commented on #60
Well, found it!

I was using `gem which jekyll-webmention_io` when I should have used `bundle show jekyll-webmention_io`…

[2017-08-10 21:30] nhoizey commented on #60
So, it uses the default template:

[code]

[2017-08-11 09:34] nhoizey commented on #60
Well, I just noticed my other settings weren't used either, so the issue should be on my side, obviously.

And it was, sorry for the lost time hunting:
https://github.com/nhoizey/nicolas-hoizey.com/commit/478fe646342396699e550b8236b2f117d9b2ecec

[2017-08-11 09:34] #60 closed

[2017-08-11 13:18] nhoizey commented on #24
And so, it did help, thanks!

https://nicolas-hoizey.com/2017/07/so-long-disqus-hello-webmentions.html#august-11th-2017-update

[2017-08-11 15:02] aarongustafson commented on #24
Yay!

[2017-08-11 15:06] aarongustafson commented on #57
You can replace the default `count` template to make it a raw number if you like. Since it can be filtered I added the additional markup details.

[2017-08-11 15:09] aarongustafson commented on #61
So, it's possible we might want to file this as a bug against the Webmention gem. I can make the calls isolated on my end but since I'm effectively outsourcing the Webmention action to that library, the fix should probably go there. It may even be a root issue in HTTParty or the Webmention gem’s implementation of it.

[2017-08-11 15:41] nhoizey commented on #24
;-)

[2017-08-11 15:43] nhoizey commented on #57
You're right! I didn't see it was also a template.

[2017-08-11 15:43] #57 closed

[2017-08-11 16:29] nhoizey commented on #61
Ok, I didn't see you're using another gem for these actions.

[2017-08-11 20:21] aarongustafson commented on #31
I am working on this feature right now. First pass is in [the `throttle_lookups` branch](https://github.com/aarongustafson/jekyll-webmention_io/tree/throttle_lookups). I am traveling right now and don't have my usual laptop with me, so I need to wait to get home to test, but if you'd like to beta it, feel free. Here are the `_config.yml` options:

* `throttle_lookups` - hash for the config
* Timef

[2017-08-11 22:02] aarongustafson commented on #61
So sending webmentions looks like [it gets rescued](https://github.com/indieweb/mention-client-ruby/blob/master/lib/webmention/client.rb#L85), but checking for webmention support [does not have a blanket rescue](https://github.com/indieweb/mention-client-ruby/blob/master/lib/webmention/client.rb#L126). I'm curious to see if fixing that resolves the issue.

[2017-08-11 22:07] aarongustafson commented on #61
I just did a `rescue` edit within GitHub. Can you test it?

[2017-08-11 22:36] nhoizey commented on #61
I don't understand at all what this `rescue` is, but I will update the plugin and test… ;-)

[2017-08-11 23:03] nhoizey commented on #61
It looks like it work, it doesn't stop anymore!

[code]

[2017-08-12 00:01] aarongustafson commented on #61
Sweet. I can comment out the logging when I get back to my computer. Probably late tonight or tomorrow. Catching a flight shortly.

[2017-08-12 06:58] nhoizey commented on #61
It didn't get to the end, I think:

[code]

Maybe it would be nice to have logs for success also, because I don't know if any worked.

[2017-08-12 06:59] nhoizey commented on #61
Oh, in fact the last one, just before the error, succeeded, it seems!

[2017-08-12 10:10] aarongustafson commented on #61
:-)

Can you trace that command once more? I'm curious about that final error.

[2017-08-13 09:49] nhoizey commented on #61
I'm now on holyday, but I'll try. Is there a risk I send a Webmention to Jeremy again?

[2017-08-13 11:25] aarongustafson commented on #61
It shouldn't. The Webmention is logged to a YAML file as sent.

[2017-08-17 19:48] aarongustafson commented on #61
Tested as working on my end. Fixed in 2.6.4.

[2017-08-17 20:03] aarongustafson commented on #31
Sorry for the delay. I’ve run it through the test site and so far so good. Gonna try it on my own site now.

[2017-08-17 20:06] aarongustafson commented on #31
Looks good and damn does it speed things up! I’ll add the details to the docs and bump to 2.7.0.

[2017-08-17 22:13] alias1 commented on #31
Sounds great! Haven't touched my blog for a bit, but might get a chance this weekend so will try it then :)

[2017-08-18 18:16] #31 closed

[2017-09-04 23:19] nhoizey commented on #61
@aarongustafson I still get the error with current master.

Here is just the end of the log:

[code]

[2017-09-05 07:51] nhoizey opened #65 "Error when building: "NoMethodError: undefined method `empty?' for nil:NilClass""
Updated to current master, I can't built the site anymore, with this error in `gather_webmentions.rb`:

[code]

[2017-09-08 16:00] aarongustafson commented on #65
Mergd the PR. This is fixed in 2.8.1.

[2017-09-08 16:00] #65 closed

[2017-09-08 16:00] aarongustafson opened #67 "Add support for "bookmark" type."

[2017-09-08 18:39] #61 closed

[2017-09-08 18:40] aarongustafson commented on #61
Fixed in 2.8.2

[2017-09-09 06:07] nhoizey commented on #61
Great, thanks!

[2017-09-25 12:40] tomasparks commented on #48
yes I do
bundle list | gem list
jekyll-webmention_io (2.8.3)

[2017-09-25 15:21] aarongustafson commented on #48
@tomasparks Can you post the results of `bundle exec jekyll`? It should look something like this:

[code]

[2017-09-26 01:36] tomasparks commented on #48
bundle exec jekyll
A subcommand is required.
jekyll 3.6.0 -- Jekyll is a blog-aware, static site generator in Ruby

Usage:

  jekyll <subcommand> [options]

Options:
        -s, --source [DIR]  Source directory (defaults to ./)
        -d, --destination [DIR]  Destination directory (defaults to ./_site)
            --safe         Safe mode (defaults to false)
        -p, --plugins PLUGINS_DIR1[,PL

[2017-09-26 08:35] tomasparks commented on #48
I've just setup a travis-ci acc for my website and I'm not getting a command not found for webmention :)

[2017-10-14 00:15] tomasparks commented on #48
turns out I was mistaken :(

[2017-10-14 14:34] aarongustafson commented on #48
What other plugins do you have? I wonder if another one is wreaking havoc on your commands.

[2017-10-14 14:38] aarongustafson commented on #48
@stuartbreckenridge What's your `bundle exec jekyll` show you?

[2017-10-15 07:31] tomasparks commented on #48
I've temporarily abandoned travis-ci

local setup to follow
gem list
addressable (2.5.2, 2.5.1, 2.4.0)
backports (3.8.0)
bibtex-ruby (4.4.4)
bigdecimal (default: 1.3.0)
bundler (1.16.0.pre.3, 1.15.4, 1.15.3)
citeproc (1.0.5)
citeproc-ruby (1.1.7)
colorator (1.1.0)
concurrent-ruby (1.0.5)
csl (1.4.5)
csl-styles (1.0.1.8)
did_you_mean (1.1.0)
domain_name (0.5.20170404)
ethon (0.10.1)
execjs (2.7.0)

[2017-10-15 13:23] aarongustafson commented on #48
@tomasparks Is your project in a public repo? Alternately, can you paste the `gems` key contents from your `_config.yml`?

[2017-10-15 20:27] tomasparks commented on #48
@aarongustafson yes https://github.com/tomasparks/website

[2017-10-16 20:46] aarongustafson commented on #48
Found your issue @tomasparks (and maybe yours @stuartbreckenridge): You didn’t place the gem in the `:jekyll_plugins` group

[code]

[2017-10-16 20:46] #48 closed

[2017-10-19 04:24] tomasparks opened #70 "Front Matter webmention option"
I would like to have the option to send webmentions from other pages that just posts
eg: bookmark list, blogroll etc

[2017-10-19 14:49] aarongustafson commented on #70
@tomasparks Are those collections in your site? If so, I have plans to implement collection support.

[2017-10-20 00:57] tomasparks commented on #70
no, not all of them are collections

[2017-10-20 16:00] aarongustafson commented on #70
@tomasparks So, just generic pages?

[2017-10-21 03:22] tomasparks commented on #70
yes

[2017-11-28 12:02] nhoizey opened #72 "SSL issue"
On my Mac (macOS High Sierra 10.13), I get this error on each attempt to get mentions from webmention.io:

[code]

I don't think I've changed anything in my configuration.

I tried [these instructions](https://github.com/fastlane/fastlane/issues/6758#issuecomment-256490784) from a similar issue, but it didn't help.

[2017-11-28 12:52] aarongustafson commented on #72
Check in with @aaronpk. I think that's gotta be an SSL issue on his site.

[2017-11-28 13:13] nhoizey commented on #72
Ok, thanks.

[2017-11-29 22:31] aaronpk commented on #72
I don't know of any issues with the webmention.io SSL certificate. Did anything change about the computer this is running on? Maybe a new Ruby version? New OS updates? Chances are this is an error where the computer this is running on doesn't trust the certificate authority that issued the certificate. (Let'sencrypt)

[2017-11-29 22:34] nhoizey commented on #72
@aaronpk I think I've made some macOS X updates indeed. I'll try to find if other people with recent version have issues with Ruby and SSL.

[2017-11-30 06:15] mikka2061 commented on #72
No updates here, and same:

jekyll-webmention_io] Got an error checking https://webmention.io/api/mentions?target[]=<targets...>: Connection reset by peer - SSL_connect

This is after a few months of working perfectly. Other than checking some stuff into _posts/ there is no change to Jekyll itself, neither gems nor SSL on the host has been updated, either. Linux (Debian).

[2017-11-30 19:57] aaronpk commented on #72
I managed to replicate this issue and track it down. Is there a reason this library is [forcing TLSv1](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/webmention_io.rb#L249)?

With that line removed, or changing it to `:TLSv1_1` I'm able to make a request to webmention.io. No change was needed for the webmention.io server.

[2017-12-01 14:56] aarongustafson commented on #72
Thanks @aaronpk! I'll get that fixed today. I think I was using example
code for the HTTPS connection. Bugfix forthcoming.

[2017-12-01 16:56] aarongustafson commented on #72
This should be fixed in 2.8.5. @nhoizey can you verify the issue has gone away for you?

[2017-12-01 20:27] nhoizey commented on #72
@aarongustafson it works, indeed, thanks a lot!

[2017-12-23 22:53] tomasparks commented on #70
any update?

[2018-01-08 09:08] #72 closed

[2018-01-08 09:09] nhoizey opened #74 "[error] Failed to open TCP connection to webmention.io:443"
I've got this error for every URL the plugin tries to get webmentions for:

[code]

[2018-01-08 11:23] nhoizey commented on #74
Looks like restarting my Mac solved the issue, sorry.

[2018-01-08 11:23] #74 closed

[2018-01-08 17:03] aarongustafson commented on #70
I’m just back from holiday and digging out of email. Let me circle back on this later in the week.

[2018-01-23 20:05] aarongustafson commented on #70
@tomasparks I think [this patch](https://github.com/aarongustafson/jekyll-webmention_io/commit/ad64d2ef413fc13b1c3373068784cf1ba023bc78) will grant you what you want. If you’d like to do a local build to test it out for me, I’d appreciate it.

Note: You will need to add a `pages` key to your `webmentions` config hash with a value of `true` for it to work:

[code]

[2018-02-04 04:52] tomasparks commented on #70
miss nearly all the pages, the page it find are missing the extensions :(

[2018-02-04 05:07] aarongustafson commented on #70
@tomasparks Can you point me to your repo so I can test it against what you have?

[2018-02-04 05:34] tomasparks commented on #70
https://github.com/tomasparks/tomasparks.github.io
i'll need add the theme @ https://github.com/tomasparks/Dynix-theme-jekyll to build

[2018-02-08 22:58] aarongustafson commented on #70
I’ll give it a shot.

[2018-02-08 23:01] aarongustafson commented on #70
@tomasparks What should my folder structure look like to mirror your setup?

[2018-02-09 03:52] tomasparks commented on #70
start with the theme (https://github.com/tomasparks/Dynix-theme-jekyll) then overwrite with the website (https://github.com/tomasparks/tomasparks.github.io)

run inside of website folder
[code]

[2018-02-14 20:23] aarongustafson commented on #70
@tomasparks Thanks!

[2018-02-16 21:55] aarongustafson commented on #70
@tomasparks Ok, I believe I’ve resolved the issue. I also refactored a lot of the code to appease rubocop. Can you pull from the repo give it a spin? I haven’t bumped the version in RubyGems yet as I want to do a bit more testing.

@nhoizey Could I rope you in to give it a look over as well?

[2018-02-20 23:51] aarongustafson commented on #70
::bump:: @tomasparks @nhoizey

I tested and it looks good to me. I’d love a second set of eyes before I push it to RubyGems.

[2018-02-21 11:59] tomasparks commented on #70
it's worser :(

webmention_io_outgoing.yml
`---
"/archive/2014/09/if-i-was-developing-pacer.html": {}
"/archive/2016/08/battlezone-98-redux.html": {}
"/archive/2016/08/zpaq.html": {}
"/archive/2016/08/pov-ray-usenet-archive.html": {}
"/archive/2016/08/me-and-the-internet-ca-1997.html": {}
"/archive/2016/08/pov-ray-usenet-archive-complete.html": {}
"/archive/2016/08/usenet-update.html": {}
"/archiv

[2018-02-21 16:30] aarongustafson commented on #70
Ok that’s just weird. I didn’t see any issues when I ran your site locally. I wonder if a network issue occurred… I just added another config option: `debug: true`. Can you grab the latest and please run it again with debugging turned on?

[2018-02-21 21:09] tomasparks commented on #70
you missed a question mark on line 313
jekyll was crashing until i added it

[2018-02-21 21:29] aarongustafson commented on #70
@tomasparks Doh! Fixed. I wonder why mu local didn’t flag that. Strange.

[2018-02-21 21:38] tomasparks commented on #70
i uninstalled ruby and all my gems, thinking it was a bug on my end
I removed everything from my website until I had a basic website, then I turned on jekyll's trace and debug mode, found the bug in your code

[2018-02-21 22:01] tomasparks commented on #70
jekyll.log: https://gist.github.com/tomasparks/9fad17ac2a52d959ed365c21025f2f1d
webmention.log: https://gist.github.com/tomasparks/f3cf258a8008c2d5bc64ebf49f7ce3b1
jekyll-cache:
outgoing: https://gist.github.com/tomasparks/79fa2057839aff239963cbbf059b6bb1
received:  https://gist.github.com/tomasparks/ba541745576d7a1accbf065a61a9869c

[2018-02-21 22:07] aarongustafson commented on #70
@tomasparks Was there a particular post that you know does have webmentions?

[2018-02-22 11:41] tomasparks commented on #70
here a list of all my webmentions:

https://webmention.io/api/mentions?domain=tomasparks.github.io&token=SoUv2HnRggu8iJQ-PY9B7A&perPage=9999

[2018-02-22 15:14] aarongustafson commented on #70
@tomasparks I think I see at least one of the issues (which may have arisen from overzealous URL cleaning on my end). Compare:

* **0 webmentions:** https://webmention.io/api/mentions?target[]=https://tomasparks.github.io/archive/2017/12/rhythmbox-notes-system.html
* **1 webmention:** https://webmention.io/api/mentions?target[]=https://tomasparks.github.io//archive/2017/12/rhythmbox-notes-system.h

[2018-02-22 15:28] aarongustafson commented on #70
@tomasparks Given that https://tomasparks.github.io//notes/like/twitter.com/2017/10/09/3039fc9130fa17d46661638e1197329257f8bc14.html no longer exists (and has webmentions), but https://tomasparks.github.io/notes/like/twitter.com/2017/10/09/3039fc9130fa17d46661638e1197329257f8bc14.html does (and has no webmentions), you might consider one of two options:

1. Add a `legacy_domain` to your `_config.y

[2018-02-22 15:45] tomasparks commented on #70
I done the legacy_domains option
some url are not found because of brid.gy feed limitation ( https://brid.gy/about#link ) and my PESOS backlog

[2018-02-22 16:03] aarongustafson commented on #70
@tomasparks Excellent. Is it working for you now?

[2018-02-23 00:46] tomasparks commented on #70
no

[2018-02-23 01:06] tomasparks commented on #70
* my note's tree is not checked
* my project's tree is not checked

recv.yml

[2018-02-23 01:29] aarongustafson commented on #70
Ok, so arbitrary pages are working, as are posts. Additional collections were not. I hadn't added arbitrary collections yet as this request was mainly about pages, so I can add in collections now too.

[2018-02-23 22:01] aarongustafson commented on #70
The latest updates adds collections support. Beware: If you have a bunch it could add significantly to your build time. You can add all collections or specific ones:

[code]

or

[code]

[2018-02-25 20:44] Ryuno-Ki opened #75 "Fails to compile"
Hi,

I was unable to install this gem using bundle.
[code]
Installing the gem directly (without bundler) fails, too:

[mkmf.log](https://github.com/aarongustafson/jekyll-webmention_io/files/1756669/mkmf.log)

I doubt it would be highly doable to have that gem compile on my shared hosting provider, too. Maybe you can investigate what dependencies you have and optimise the choice?

For now, I'll try

[2018-02-26 15:12] aarongustafson commented on #75
I have not seen this issue, but I will look into it when I build the new version of the gem (after testing a bit more). In the meantime, you can always point to the gem source in your Gemfile:

[code]

[2018-02-26 15:14] aarongustafson commented on #75
I am actually closing this because the bug is not with this gem, but rather with unf_ext which is referenced by `unf`, `domain_name`, `http-cookie` and `http`on up the chain. I’d suggest filing a bug against `unf_ext` (see also [this thread](https://github.com/gliderlabs/docker-alpine/issues/261)).

[2018-02-26 15:14] #75 closed

[2018-02-26 17:36] aarongustafson opened #76 "Add support for RSVP"
Reviving this from a [dead PR](https://github.com/aarongustafson/jekyll-webmention_io/pull/71/).

[2018-02-26 19:16] #67 closed

[2018-02-26 19:16] aarongustafson commented on #76
FYI @calumryan

[2018-02-26 19:16] #76 closed

[2018-02-26 19:56] calumryan commented on #76
Thanks @aarongustafson will give it a go for some IndieWeb events I'm organising

[2018-02-26 20:02] aarongustafson opened #77 "Move docs from README to the Wiki?"
Thoughts?

+@nhoizey @stuartbreckenridge @DirtyF

[2018-02-26 20:04] aarongustafson commented on #76
Awesome! Docs should be up to date.

I also added support for collections in this release in case you are using
those over posts.

On Mon, Feb 26, 2018 at 3:00 PM, Calum Ryan <notifications@github.com>
wrote:

[2018-02-26 21:47] DirtyF commented on #77
When README becomes too bloated, we tend to split it in several pages and use the `docs` folder +          [primer theme](https://github.com/pages-themes/primer) rather than the wiki. It allows you to keep the same workflow and have an URL for the documentation.

[2018-02-28 19:18] aarongustafson commented on #77
@DirtyF Smart

[2018-03-06 21:53] Ryuno-Ki commented on #75
Actually pointing to the gem source does not work either due to runtime dependencies:
[code]

[2018-03-09 20:48] aarongustafson commented on #75
Did you run `gem install`? The `http` gem is required and should be added when you install the gem.

[2018-03-09 23:59] Ryuno-Ki commented on #75
[code]

[2018-04-04 07:17] nhoizey opened #78 "Update uglifier dependency"
Other plugins such as `jekyll-assets` started using `uglifier` 4+, which is nice when writing ES6 code at least.

Would it be possible updating the dependency here too?

Thanks!

[2018-04-04 07:49] nhoizey opened #79 "undefined local variable or method `original_uri' for Jekyll::WebmentionIO:Module"
When running Jekyll, I get this error:

[code]

I just upgraded to `jekyll-webmention_io` 2.9.1

[2018-04-26 15:14] #78 closed

[2018-04-26 15:15] aarongustafson commented on #79
I'm getting ready to move across the country next week, so it'll be a little bit before I can get to this. I apologize for the delay.

[2018-04-27 05:55] jalcine commented on #79
Ran into this myself. Looks like a bit of copy and paste errors :(

[2018-04-28 09:55] nhoizey opened #81 "Performance impact on build"
Hi, my build time is now really long (around 2500 seconds, which means 40 minutes), and I thinks most of this time comes from Webmentions.

I have more than 500 posts.

My `received.yml` file has morethan 16000 lines.

Here is my Webmentions configuration:

[code]

I made a flamegraph (SVG file in the zip) with [rbspy](https://github.com/rbspy/rbspy):
[rbspy-2018-04-27-8OI5yinIKQ.flamegraph.zip](h

[2018-04-28 13:36] aarongustafson commented on #81
I've been doing some performance testing on my end as well, but haven't seen nearly the impact you seem to be. I added a flag for debugging a while back that will let you know what's happening in the process. I found the rendering to be really slow on account of the number of plugins I use for giving and the like. Especially because my RSS feed is full text.

One I get moved and resettled, I will

[2018-04-30 10:10] pixelastic commented on #81
FWIW, I've used [parallel](https://github.com/grosser/parallel) in the past that allow running concurrent tasks on different CPU if available and got some impressive improvements. Not sure it can be applied here, but thought I should share :)

[2018-05-04 22:58] nhoizey commented on #81
I've been improving other parts of my build, and doing new tests with and without Webmentions lookup, and with and without Webmentions embeding (removing the `{% include … %}`), and I've got these results (2 run per setting):

Webmentions lookup | Webmention inclusion | Duration (seconds)
-- | -- | --
No | Yes | 784.485
No | Yes | 782.792
No | No | 236.722
No | No | 234.846
Yes | No | 858.355
Yes

[2018-05-22 10:38] nhoizey opened #82 "Don't collect outgoing mentions from localhost"
When run locally, jekyll-webmention_io currently collects outgoing mention when running `jekyll serve`.

<img width="620" alt="image" src="https://user-images.githubusercontent.com/78213/40357596-05c2abe6-5dbd-11e8-83d9-fcdaed87364f.png">

[2018-06-28 23:35] aarongustafson commented on #79
Found it. Pushing this fix shortly. I apologize for the delay.

[2018-06-29 00:29] #82 closed

[2018-06-29 01:34] DirtyF commented on #81
On a side note, I just want to let you know that https://github.com/jekyll/utterson is currently in development and could help you monitor and log build times. (example output: https://github.com/jekyll/jekyll/pull/7064/checks)

[2018-06-29 16:50] aarongustafson commented on #82
@nhoizey Fixed in v2.9.3

[2018-07-25 06:59] nhoizey opened #83 ""[jekyll-webmention_io] Liquid error: internal" error when using includes in Webmention templates"
I have created a few templates for specific Webmention types:
https://github.com/nhoizey/nicolas-hoizey.com/tree/master/_includes/webmentions

The code for the author avatar is copy/pasted multiple times, so I wanted to share it in an include.

But when I try to serve or build the site, I get this error:

[code]

I have to say that I'm currently using version 2.9.1 of this plugin because of incomp

[2018-07-25 07:13] nhoizey commented on #83
I made a branch with these includes:
https://github.com/nhoizey/nicolas-hoizey.com/tree/shared-webmention-author-photo/_includes/webmentions

[2018-07-29 13:20] ashmaroli commented on #81
Hello everyone!! :wave:
I would love it if all of you could test the impact of jekyll/jekyll#7136 on this plugin.
I'm mainly interested in knowing **if the rendered outcome for this plugin's tags are the same** when building with `jekyll/jekyll:master` branch and the PR's git-ref: `refs/pull/7136/head`

[code]
Thanks in advance. :slightly_smiling_face:

[2018-07-31 14:37] aarongustafson commented on #81
@ashmaroli I am traveling this week, but will give it a look as soon as I have a moment.

[2018-08-08 14:11] nhoizey commented on #81
@ashmaroli I tried your PR on [my site](https://github.com/nhoizey/nicolas-hoizey.com/).

The build is REALLY fast! 😮

But it breaks my site… 😅

I use jekyll-assets and jekyll-include_cached to load assets in an include, and the build with your PR duplicates the first asset.

In [_includes/head.html#L9](https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_includes/head.html#L9):

[code]

In

[2018-08-08 17:48] ashmaroli commented on #81
@nhoizey Thank you for getting back on my request.
I've opened a ticket at `jekyll-assets` repo  to see if Jordon can point me in the right direction. Hopefully, we may be able to reach a solution that may be beneficial to the community irrespective of whether the Jekyll Core Team merges my PR or another closely related PR in the works..

That said, are there any issues with the "output" from the

[2018-08-08 19:50] DirtyF commented on #81
@aarongustafson No need to hurry here. I suggest you wait for a proper Jekyll alpha/beta/RC version before testing anything, things might change until then. Enjoy your vacations. 🍹

[2018-08-16 19:54] aarongustafson commented on #83
Ok weird. I’ll take a look.

Sounds like I need to figure out how to handle includes in includes ;-)

[2018-08-18 13:06] jordanmerrick opened #84 "Throttling doesn't apply to posts without webmentions"
I've recently added webmentions to my Jekyll blog, which has ~800 posts going back a number of years. Only about four recent posts have received webmentions. My site's build time is currently around five minutes, but throttling seems to make no difference. I'm using the following throttling configuration:

[code]

What I seem to be experiencing is that only posts which have received webmentions ar

[2018-08-23 22:04] twhite96 commented on #56
I'd love this as well. I am using your plugin as it is the most comprehensive one I've found but Bridgy support would be great.

[2018-08-23 22:09] aarongustafson commented on #56
@twhite96 Brid.gy support is already in there (webmention.io uses brid.gy), but I will look into rolling this in and putting it behind a feature flag since it is considerably more expensive as an operation.

[2018-08-23 22:12] twhite96 commented on #56
@aarongustafson okay. Weird. I have some Bridgy mentions that aren't showing up on my site. I'll have to dig further as to why that is.

[2018-08-23 22:50] aarongustafson commented on #56
@twhite96 Interesting. I wonder if it’s an issue of webmention.io not being fully synced? @aaronpk any ideas?

[2018-08-23 22:56] twhite96 commented on #56
@aarongustafson There is a warning about webmentions not being supported when I look at webmentions on Bridgy for my site. I have everything setup but I am thinking I configured something wrong. I'll have to test it with webmention.rocks.

[2018-08-23 23:17] aaronpk commented on #56
You might be able to find the webmention.io status URL for the webmentions listed in the bridgy debug logs in order to see whether webmention.io was able to process them successfully.

[2018-08-23 23:51] aarongustafson commented on #56
Thank you @aaronpk!

[2018-08-25 22:36] twhite96 opened #85 "display:none showing for templates in DevTools. Confused on how to use this"
I have a template I am using  from https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_includes/webmentions/webmentions.html but none of my webmentions are showing.

I get an build error when using a `webmentions` directory in `_includes`with this template in it. So, I moved it to the root of the `_includes` directory and it builds.

But when I go to my site: https://tiffanywhite.tech, I se

[2018-08-28 02:18] twhite96 commented on #83
@nhoizey how did you get the plugin to work with your templates? Whenever I build the template tags in the `head` of my blog all have `display:none` as either an id or class. Not sure what I am doing wrong.

[2018-08-30 02:05] twhite96 commented on #85
It works for new posts not old ones. Will close this down now.

[2018-08-30 21:08] aarongustafson commented on #85
Sorry, I just had a chance to circle back on some of these issues. Are you still seeing the exception?

[2018-08-30 23:31] aarongustafson commented on #83
I am hitting my head against the wall here. It looks like the Liquid parser needs to know about the other Liquid Tags in the project, which I can get from the `site_payload`, but I’m not sure how exactly to merge that info and the @data hash in order to get them both resolved into the template. Any help here would be greatly appreciated :-)

[2018-08-30 23:32] aarongustafson commented on #84
Good point. Let me get on that. I think I finally need to bust out the lookups into a separate file.

[2018-08-31 00:31] jordanmerrick commented on #84
Thank you!

[2018-08-31 01:47] jordanmerrick commented on #84
@aarongustafson I've just updated but am running into the error
[code]

With `--trace`:

[code]

[2018-08-31 02:16] aarongustafson commented on #84
Hmm. I'll look into it. Thanks for the heads up. Can you run it again with
`debug: true` in the config and include any info right before that error?

[2018-08-31 02:34] twhite96 commented on #85
@aarongustafson no. It works now. Thanks.

[2018-08-31 03:25] aarongustafson commented on #84
Try now. I added an additional conditional around the code I think is causing the issue for you.

[2018-08-31 03:43] jordanmerrick commented on #84
@aarongustafson thanks for fixing, working fine now. And build time has dropped to less than two minutes, so a big improvement overall.

[2018-09-02 11:27] ashmaroli commented on #83
@nhoizey Is there any additional info available when you try to build with the above includes via the
`--trace` option..?
[code]

[2018-09-03 03:58] twhite96 commented on #85
Not all my webmentions are showing up. I only have two on my blog so far but I have at least 10 from Brid.gy. Not sure how this works exactly.

[2018-09-03 21:03] twhite96 commented on #85
Here is my YAML file.

https://github.com/twhite96/TWBlog/blob/0ad576a5975050860e412210d9d64bb443742217/.jekyll-cache/webmention_io_received.yml

Not sure why they aren't showing up. Just three of them are.

[2018-09-03 21:09] twhite96 commented on #85
Also when I respecified the templates, got the same error:  `Liquid Exception: String does not have #dig method in /_layouts/post.html`.

[2018-09-03 21:18] twhite96 commented on #85
When I run `bundle exec jekyll build --trace` I get these logs

[code]

[2018-09-03 21:18] aarongustafson commented on #85
Thanks ! I was literally just about to ask for that.

[2018-09-03 21:31] twhite96 commented on #85
Here's the trace for that:

`Liquid Exception: String does not have #dig method in /_layouts/default.html
bundler: failed to load command: jekyll (/Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/bin/jekyll)
TypeError: String does not have #dig method
  /Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/gems/jekyll-webmention_io-2.9.6/lib/jekyl

[2018-09-03 21:45] twhite96 commented on #85
Here is the trace:
`
Liquid Exception: String does not have #dig method in /_layouts/post.html
bundler: failed to load command: jekyll (/Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/bin/jekyll)
TypeError: String does not have #dig method
  /Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/gems/jekyll-webmention_io-2.9.6/lib/jekyll/webmentio

[2018-09-03 22:05] twhite96 commented on #85
I've edited the repo a bit. I've deleted the old webmentions template and added a different one as well as creating a `webmentions` directory in the `_includes` directory. Here is the new directory: https://github.com/twhite96/TWBlog/tree/master/_includes/webmentions

[2018-09-03 22:47] aarongustafson commented on #85
Ok, so it seems to be thinking that your webmentions configuration is a string rather than a Hash. That’s super odd. Let’s try this: clone a copy of this repo locally and [point `Bundle` at the local copy](https://rossta.net/blog/how-to-specify-local-ruby-gems-in-your-gemfile.html).

Once that’s rigged up, head over to line 265 in `/lib/jekyll/webmention_io.rb` and add a line above it:

[code]

Th

[2018-09-04 03:39] aarongustafson commented on #85
Thank you. Did you happen to see the output of the`puts` statement?

[2018-09-04 03:48] aarongustafson commented on #85
I swapped that instance of `config` for the global `@config`. Pull the latest and try again. 🤞🏻

[2018-09-04 18:30] aarongustafson commented on #83
Worth noting, I tried this with additional liquid tags and get the same error. I tried both `highlight` and `link`. Liquid internals like conditionals are not a problem. It leads me to believe the Liquid parser doesn’t have access to the Jekyll instance tags.

[2018-09-04 18:31] aarongustafson commented on #83
Yeah, `raw` works fine.

[2018-09-04 18:47] ashmaroli commented on #83
Can you provide me with a minimal, reproducible repo that I can use to encounter this error at my end..?
Alternatively, is there any difference in the output if you set `Liquid` to parse `@template` with
`error_mode => :warn`..?

[2018-09-04 19:20] aarongustafson commented on #83
I have a local test site I use. It’s a skeleton demo but should work. I don’t have it in Github because there’s no point, but here’s a ZIP of everything but the vendor directory.

[test-site.zip](https://github.com/aarongustafson/jekyll-webmention_io/files/2349903/test-site.zip)

[2018-09-04 21:45] ashmaroli commented on #83
I've traced the bug behind this.. will send a PR shortly..

[2018-09-04 22:14] nhoizey commented on #83
@twhite96 my build works with my current master branch, but not the one I linked to in the comment before yours.

[2018-09-04 22:16] #83 closed

[2018-09-04 22:18] aarongustafson commented on #83
Resolved in [2.9.7](https://github.com/aarongustafson/jekyll-webmention_io/releases/tag/v2.9.7).

[2018-09-04 22:38] twhite96 commented on #85
How do I install this as a `.zip` file @aarongustafson? `bundle update` doesn't have the latest as I assume you haven't submitted the gem yet.

[2018-09-04 22:39] twhite96 commented on #85
Nevermind got it.

[2018-09-04 22:55] twhite96 commented on #85
Still getting the `dig` method error. When I comment out the `templates`yaml it builds.

[2018-09-04 22:57] twhite96 commented on #85
@aarongustafson  Here are a list of gems. Any known issue with your gem and these?

`gem 'json'
gem "jekyll", "~> 3.6.0"
gem "jekyll-theme-hydeout", "~> 3.4"
gem 'compass-yiq-color-contrast'
gem 'hash-joiner'

group :jekyll_plugins do
  gem 'jekyll-gist'
  gem 'jekyll-paginate'
  gem 'redcarpet'
  gem 'pygments.rb'
  gem "html-proofer"
  gem 'jekyll-cloudinary'
  gem 'jekyll-seo-tag'
  gem 'jekyll

[2018-09-04 22:59] twhite96 commented on #85
Here is the error with `--trace`

`
TypeError: String does not have #dig method
  /Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/gems/jekyll-webmention_io-2.9.7/lib/jekyll/webmention_io.rb:238:in `dig'
  /Users/tiffanywhite/Desktop/Git_Repositories/TWBlog/vendor/bundle/ruby/2.5.0/gems/jekyll-webmention_io-2.9.7/lib/jekyll/webmention_io.rb:238:in `get_template_contents

[2018-09-04 23:10] twhite96 commented on #85
Reading your docs I found this: "templates - If you would like to roll your own templates, you totally can. You will need to assign a hash of the template paths to use for loading each one."

What does this mean?

[2018-09-05 05:39] ashmaroli commented on #85
@twhite96 I cloned your blog repo locally and was able to build successfully on my Windows system...

[2018-09-05 18:54] aarongustafson commented on #85
@twhite96 Here’s an example from the docs:

[code]

In this code, the templates key contains references to 7 different custom templates. The paths start in your site root, so in this case it’s showing them in the `_includes/webmentions` directory.

Does that clarify the configuration?

[2018-09-05 19:13] twhite96 commented on #85
@ashmaroli that's interesting. It isn't building on my Mac. Weird.

[2018-09-05 21:45] ashmaroli commented on #85
@twhite96 You may want to setup Continuous Integration for your blog repo with TravisCI to *initially* just test if *the site builds w/o any premature halts*..

Once, that's set, you can edit your config file to have webmentions processed under `debug` mode to see when exactly the build chokes..

Then, you may graduate to using Travis to deploy the site it builds, to your `gh-pages` branch..

[2018-09-05 23:01] aarongustafson commented on #85
@twhite96 I do see one issue [in your config](https://github.com/twhite96/TWBlog/blob/master/_config.yml#L31-L35) regarding templates. You have this (currently commented out):

[code]

The configuration requires you to **assign these templates to the different template names** (like I [demonstrated in the comment above](https://github.com/aarongustafson/jekyll-webmention_io/issues/85#issuecomment-

[2018-09-05 23:07] twhite96 commented on #85
Okay. Thanks. That's probably what's happening. Once I get home I'll do this.

[2018-09-06 20:40] twhite96 commented on #85
@aarongustafson got it to build partially by adding a legacy domain. But then I get this error:

`
 Liquid Exception: undefined method `[]' for nil:NilClass in /_layouts/post.html
jekyll 3.6.2 | Error:  undefined method `[]' for nil:NilClass
`

My config is this:

[code]

[2018-09-06 20:47] twhite96 commented on #85
According the the stack trace this seems to be an issue with the uris being provided.

[code]

[2018-09-06 21:03] twhite96 commented on #85
Here is a sample of how `jekyll-webmention_io` is assigning things.

[code]

[2018-09-07 05:21] aarongustafson commented on #85
That would be a tag issue I think. Lemme look at your repo again.

[2018-09-07 05:27] aarongustafson commented on #85
Let’s try this. Can you copy your all-up webmentions include and reduce it to only one call to a webmentions tag first? I’d also like to see what `{{ page.url }}` spits out for you.

[2018-09-07 21:40] twhite96 commented on #85
Tags as far as Jekyll metadata? It so I have a ton of posts I imported from WordPress with empty brackets in the tags front matter. I was wondering if that is the tags issue at hand?

[2018-09-07 21:50] twhite96 commented on #85
What is a webmentions tag? Not sure what you mean here.

[2018-09-07 22:02] twhite96 commented on #85
Here is an error from the trace: `[jekyll-webmention_io] Jekyll::WebmentionIO::WebmentionsTag No data provided`

Puzzled as to what this means.

[2018-09-08 13:30] ashmaroli commented on #85
<blockquote>
According the the stack trace this seems to be an issue with the uris being provided.

[code]
</blockquote>

The issue behind this bug is the following method:
https://github.com/aarongustafson/jekyll-webmention_io/blob/c98ec898f5631c29e7d994d405f4cdaa9b486854/lib/jekyll/tags/_.rb#L26-L32

`lookup` that was initially a `context` eventually gets reassigned as `nil`..

[2018-09-09 05:11] twhite96 commented on #85
@ashmaroli okay so how do I fix it? Is it something I am doing or a bug in the plugin?

[2018-09-10 18:28] aarongustafson commented on #85
@twhite96 Ah! I think I see the issue: You are using `include` to include your custom templates. That’s not how you do it. You reference the templates in your config and then use the tag as you normally would. I will re-read the docs to make sure this is clear, but here’s a quick example:

If you want to have a custom “count” template, you reference it in your configuration:

[code]

Then you use

[2018-09-10 18:36] aarongustafson commented on #85
In your post template, I commented out lines 32-35 of your posts template and swapped in the tags:

[code]

With that in place, everything works, _except_ your custom webmentions template. So currently I have that one commented out in the config:

[code]

I’m looking into what the issue is with your custom template now.

[2018-09-10 18:38] twhite96 commented on #85
Ahhhhhh ok. I'll check this out. Thanks for all your help.

[2018-09-10 18:39] aarongustafson commented on #85
@twhite96 Actually the error in that template was my fault: a window focus issue caused me to accidentally type in the file, breaking it. So making the change above *should* get you going again. I am not seeing any issue building on my end.

[2018-09-10 21:16] twhite96 commented on #85
It works!!! Thanks @aarongustafson!!! I can probably close this now. Thanks for being so helpful. Appreciated.

[2018-09-10 21:16] #85 closed

[2018-09-12 16:44] ashmaroli commented on #29
I'd like to help with this ticket by using Cucumber based tests.
@aarongustafson can you provide me with some sample scenarios..?
For example, what to expect when I use the fixture site and some of the webmentions tags..?

[2018-09-12 17:51] aarongustafson commented on #29
@ashmaroli Thank you! I’d be happy to, but honestly I’m a little unsure where to begin. The easy stuff would probably be testing things like [`webmentions_head`](https://github.com/aarongustafson/jekyll-webmention_io#webmentions_head) and [`webmentions_js`](https://github.com/aarongustafson/jekyll-webmention_io#javascript-enhancements).

## `webmentions_head`

By default, it only includes one vari

[2018-09-12 18:00] aarongustafson opened #99 "Optimize JS tag by generating the `template`markup once?"
@ashmaroli As you know a lot more about the innards of Jekyll than I do, you can probably shed some light here.

Right now the `webmention_js` tag [assembles template contents each time it is rendered](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/tags/webmentions_js.rb#L37-L44). The template names are referenced in the `WebmentionIO` object and then rendered by cal

[2018-09-12 23:40] aarongustafson commented on #77
Ok, I made the move over to `/docs/`. Should make things easier to maintain from here on out.

Fixed as of d6df6da.

[2018-09-12 23:40] #77 closed

[2018-09-13 05:50] ashmaroli commented on #99
I hadn't looked into the source-code for `webmention_js` tag till yesterday when I thought of using Cucumber to add some test coverage..
And now, with this ticket, I took a closer look at the workings of the tag:
**The entire `:render` method for the tag can be cached** since the method's dependencies are only the site-configuration.. :sweat_smile:

I'll open a PR to address it..

[2018-09-13 06:01] aarongustafson commented on #99
Amazing! thank you so much! once I understand the pattern, I'll look for other places to optimize the output.

[2018-09-14 05:19] #99 closed

[2018-09-14 15:31] ashmaroli opened #104 "Nest all generators consistently under `Jekyll::WebmentionIO` namespace"
The generators currently registered by the plugin are:
- `Jekyll::WebmentionIO::CompileJS`
- **`Jekyll::GatherWebmentions`**
- **`Jekyll::QueueWebmentions`**

Ideally, all the generators should be under the same namespace

[2018-09-14 20:59] aarongustafson opened #107 "Make use of the Cache API?"
I’m curious if there are places to make use of [the internal Cache API](https://jekyllrb.com/tutorials/cache-api/) (which I just discovered). @ashmaroli Do you know when that was added?

[2018-09-14 22:11] miklb commented on #107
Last release. I wondered about that too while I was following its development

[2018-09-14 23:19] aarongustafson commented on #107
I tried bumping my site to 3.8.3, but the build failed with `undefined class/module Liquid::Token` :-/

[2018-09-15 23:10] #104 closed

[2018-09-17 17:57] aarongustafson commented on #81
@nhoizey Can you try the latest version? It should be a massive speed improvement.

[2018-09-17 17:58] aarongustafson commented on #70
@tomasparks Can you verify if this issue has been resolved for you?

[2018-09-17 19:48] DirtyF commented on #107
🤙  /cc @pathawks  — as you're the one that implemented the cache API and who can best answer Aaron's legitimate question. 💪

[2018-09-17 20:00] DirtyF commented on #29
Isn't this fixed by #103 ?

[2018-09-17 20:04] ashmaroli commented on #29
@DirtyF I kept it open just in case someone comes along and contributes a bit of RSpec or Minitest if they wanted to..

[2018-09-17 22:35] aarongustafson commented on #107
That’s awesome, @pathawks thanks! Will there be an easy way to test for this feature’s availability? Currently [we are caching (in our own way) JavaScript just as you are saying](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/webmention_io/js_handler.rb#L51-L62). If there are any performance gains to be made by handing it off to Jekyll, we should by all means do it.

[2018-09-17 22:42] pathawks commented on #107
No doubt!

Either by checking for Jekyll > 4 or the existence of `Jekyll::Cache`

If there is any performance to be gained, it will be from Jekyll's cache persisting across builds. As long as a sites configuration does not change, objects will stay cached.

[2018-09-17 22:44] aarongustafson commented on #29
Yeah, it may be worth adding some testing around the JavaScript code too (eventually)

[2018-09-17 22:44] aarongustafson commented on #29
- [ ] JavaScript testing

[2018-09-17 22:59] aarongustafson commented on #107
Ooooh! I didn’t realized it will persist across builds. That’s rad!

Question: If we use it and, say, need to ship an update to the JS code, will it recognize that the plugin has been updated an automatically purge the cache or will we need to manage that ourselves (maybe by tying into the gem’s version number or something)?

[2018-09-19 22:48] nhoizey commented on #81
Hum, let's try…

With jekyll-webmention_io v3.0.0:

[code]

With jekyll-webmention_io v3.0.2:

[code]

**WHAT IS THIS SORCERY???**

Latest version is **30 times faster** than the one I used before, it will change everything for me!

[2018-09-20 04:00] ashmaroli commented on #81
@nhoizey I'm happy that you're seeing massive performance improvements. (Hope, the rendered data is 100% unchanged between `v3.0.0` and `v3.2.0` :wink:)

If you want to see a bit more improvement, you can try pointing to jekyll repo directly.
[code]
But yes, it **is not recommended at all** because `jekyll:master` is never stable

[2018-09-20 18:26] ashmaroli commented on #81
You're most welcome @nhoizey :slightly_smiling_face:
And thank you for the kind words. They give me a lot of happiness and motivation to continue making a positive impact where possible :+1:

[2018-09-20 18:54] aarongustafson commented on #81
My builds are still around 900s, but I’m hopeful I can find a way to improve the speed of my YouTube, CodePen and Twitter plugins. @ashmaroli Do you know if there’s a way with a straight Jekyll plugin (non-gem) to maintain a hash for the duration of the build process? Here’s one plugin (as an example): https://github.com/aarongustafson/aarongustafson.github.io/blob/master/_plugins/codepen.rb

[2018-09-20 19:33] ashmaroli commented on #81
@aarongustafson What unexpected behavior are you seeing with the Codepen plugin..?

[2018-09-20 23:07] aarongustafson commented on #81
@ashmaroli No unexpected behavior. I’m just wondering if there’s a better way to handle caching or insertion of cached codepens (or similar). Just looking to learn from your Jekyll performance prowess :-)

[2018-09-21 00:14] ashmaroli commented on #81
That's very flattering, Thank you.
Actually, its just about experimenting with the code.

What I'd do is constantly profile the Ruby Code and see if there is any perceivable gains from the following:
  - The *embeds* are already being cached to a *constant*. So, I'd move the disk-usage function (`File.open(CACHE_FILE, 'w') { |f| YAML.dump(CACHE, f) }`) outside the `:render` method since `:render`

[2018-10-03 23:49] aarongustafson opened #115 "Issue with Webmention command"
Getting an error when attempting to make webmentions:

[code]

I was not getting this issue prior to some of the recent performance optimizations. My guess is we missed some necessary refactoring as, from the looks of it, `Jekyll.sanitized_path()` is failing to resolve a `clean_path` and then the call to `sub` is failing.

[2018-10-04 00:28] aarongustafson commented on #115
I took my first stab at addressing this in 4782601. The issue seems to be the command’s ability to access a fully-bootstrapped `Jekyll::WebmentionIO` in context. Piping in the configuration from the command seems to enable the same functionality, although it seemed to make more sense to separate out the cache setup to its own method that could be called in the initialization of the module *or* sep

[2018-10-04 03:13] ashmaroli commented on #115
@aarongustafson I've submitted a simplified proposal to resolve this issue in `#116`
If you can "describe" how a sample site would look like when the `jekyll webmention` command is to be used, we can setup Travis to test the Command class as well..

Once that is done, we **may** refactor `WebmentionCommand.init_with_program(prog)` to change the signature of the `process` method (if you do not plan

[2018-10-04 19:55] #115 closed

[2018-10-24 22:10] frankmeeuwsen opened #117 "How do I show my webmentions?"
I've succesfully implemented the gem and included the code from the quickstart guide to my testblog (https://ecstatic-jang-1b098a.netlify.com). I've succesfully sent a webmention from the webmention.rocks testsuite to [a post](https://ecstatic-jang-1b098a.netlify.com/io/) that shows on webmention.io and in [the API-call](https://webmention.io/api/mentions?jsonp=window.JekyllWebmentionIO.processWeb

[2018-10-30 23:52] aarongustafson opened #118 "v3.3.2"
Implemented enhancements:

- Added `rel="nofollow"` to default templates to discourage [link-farming](https://blogs.cornell.edu/info2040/2016/10/23/link-farming-the-shadier-side-of-seo/) via webmentions

[2018-10-30 23:52] #118 closed

[2018-10-31 03:06] aarongustafson commented on #117
Can you link me to your template? Your template should include the `post.url`:

[code]

It also might help to see your config. You can also run `bundle exec jekyll build --trace` to see if any errors are thrown.

[2018-11-26 20:33] smithtimmytim opened #119 "Plugin causes Jekyll to regenerate repeatedly"
Hello! I'm running Jekyll `3.8.5` and jekyll-webmention_io `3.3.2`. When I'm working on the site locally, something in this plugin is causing the site to continuously regenerate. I'm also using Jekyll's built-in livereload so the site just keeps refreshing. I've tried putting the webmention stuff behind `{% if jekyll.environment == "production" %}` but that doesn't seem to stop it.

Anyone else en

[2018-11-26 23:50] aarongustafson commented on #119
Hmm, I have not seen this, but I don’t often do live reloading myself. I can look into it though.

[2018-11-26 23:50] aarongustafson commented on #117
@frankmeeuwsen Are you still having this issue?

[2018-11-27 16:39] frankmeeuwsen commented on #117
I apologize for the radio silence. I haven't been able to work or debug on this for the last couple of weeks. I hope to do so in the near future and will keep you posted.

[2018-11-27 17:48] aarongustafson commented on #117
👍🏻

[2018-11-27 18:36] smithtimmytim commented on #119
Thanks so much! I tested yesterday without livereload and jekyll still regenerates when I haven't changed any files.

[2018-12-14 00:07] aarongustafson commented on #119
@smithtimmytim Are you using `jekyll serve` for the live reload? I think I can turn it off if the site is serving.

[2018-12-14 16:17] smithtimmytim commented on #119
@aarongustafson Thank you! I'll try this out in the next few days and report back :)

[2018-12-14 17:30] smithtimmytim commented on #119
@aarongustafson Just tested this out. Unfortunately, looks like Jekyll continues to see changes happening in the `JekyllWebmentionIO.js` file.

[code]

That files seems to trigger regeneration indefinitely.

[2018-12-18 21:16] aarongustafson commented on #119
Ok, I turned off JS source file generation while using `jekyll serve`. I think that should fix your issue, but if it does not, I will stop it from deploying a JavaScript file too.

[2018-12-18 21:23] aarongustafson commented on #119
Actually, scratch that. I tweaked it so it falls back to the temp folder file generation now (rather than source). The deploy will happen, but does not appear to trigger regeneration.

[2018-12-25 18:02] maxandersen opened #120 "jekyll webmention required use of md"
seems `jekyll webmention` fails hard when parsing my adoc posts.
Get errors like:

[code]

and never continues.

is there some way to have it 1) not error 2) have it work on the generated html rather than specific markdown syntax?

[2018-12-26 06:58] maxandersen commented on #120
made #121 pull-request to make the url matching stop at unsafe characters when trying to match urls.

[2018-12-26 08:17] maxandersen opened #122 "throttling date calculation not working"
I enabled throttling using the example from docs:

[code]
 but jekyll webmentions insist that a date from today (2018-12-25 00:00:00 +0100) is always considered "older" meaning it won't check webmentions for new posts.

[2018-12-26 09:25] maxandersen opened #124 "have filters to get numbers ?"
For now the only way I found to get the actual number of mentions to use them for logic is something like this:

[code]

Thats quite tedious - it would be great if you could do something like:

[code]

i.e. have filters operating on page.url to return the various values.

[2018-12-27 21:05] frankmeeuwsen commented on #117
Sorry again. I did some digging with fresh eyes and I saw some inconsistencies in the code and used test URLs. I changed some bits and pieces and tried the webmention testsuite again. This gives a success but nothing again is shown. Here are some URL's to (hopefully) relevant code:

- [Webmention report](https://webmention.io/ecstatic-jang-1b098a.netlify.com/webmention/budbXWrHc57YpmSmRwd4)
- [Blo

[2019-01-02 21:58] aarongustafson commented on #117
Ok, so one (potential) issue I see is a mismatch in your config. [The URL you have is simply “/” which is not a valid URL and does not match your domain](https://github.com/frankmeeuwsen/microblog/blob/master/_config.yml#L20). To see if this is the culprit, I’d add the JS code to your page because it will inject the reference URL to webmention.io in the markup as a `script`. It’s worth noting that

[2019-01-02 22:02] aarongustafson commented on #120
Interesting. I don’t use asciidoc, so I never ran into this. Does your PR resolve the issue fully or is it just a band-aid?

[2019-01-02 22:07] aarongustafson commented on #124
Have you tried overriding the default count template like in [this example](https://aarongustafson.github.io/jekyll-webmention_io/configuration#exhaustive-example)? The count comes in as a liquid variable there, which (I think) should enable you to do whatever you want with it.

[2019-01-02 22:22] maxandersen commented on #120
It solve it well enough :) I didn't really added anything asciidoc specific here I just added additional characters which are not-recommended/illegal in URLs anyways - especially []'s. That way it fixes it for asciidoc indirectly.

[2019-01-02 22:31] maxandersen commented on #124
that is what I ended up with doing but I still have to go through the "dance" of calling `| times:1` on the value as its still considered a string.

[2019-01-03 00:41] aarongustafson commented on #124
Ok. I'm not sure if a tag can return anything anything other than a string, but I'll look into it.

[2019-01-03 07:11] frankmeeuwsen commented on #117
Thanks for the help. As this is a testserver to see how webmentions work with my Jekyll installation, some configuration might be off indeed, thanks for the pointers. I'll have another look at the different parts and will report back to you.

[2019-01-03 07:51] aarongustafson commented on #124
There Liquid docs actually have quite a few numerical examples, but they all return as strings 😣

This might be a good update for the documentation.

[2019-01-03 07:52] aarongustafson opened #125 "Add documentation about custom templates"
Include the bit about the count always being a string because of Liquid.

[2019-01-08 00:53] aarongustafson commented on #120
I’ll test it out tomorrow. Thanks!

[2019-01-14 19:31] aarongustafson commented on #122
@maxandersen This is resolved now, right?

[2019-01-14 19:32] aarongustafson commented on #119
@smithtimmytim Can you confirm if this issue is resolved?

[2019-01-14 22:30] smithtimmytim commented on #119
Oops! So sorry! I'll test this tonight and report back.

[2019-01-15 21:13] maxandersen commented on #122
yes, with #123 merged it should be all good.

[2019-01-15 21:13] #122 closed

[2019-01-15 23:02] smithtimmytim commented on #119
This issue is resolved. Looks like that fixed it!

[2019-01-16 00:17] aarongustafson commented on #119
Yay!

[2019-01-16 00:17] #119 closed

[2019-02-08 01:27] tomasparks commented on #70
sorry for not getting back, I am dropping my use of this plugin

[2019-02-08 01:27] #70 closed

[2019-02-08 03:20] aarongustafson commented on #70
Bummer. It would have been nice to know if it fixed the issue you were having.

[2019-05-06 03:34] derpayatz opened #127 "bundle exec jekyll serve error"
Hi, I am getting this when I execute `bundle exec jekyll serve`:

[code]

[2019-05-06 06:45] aarongustafson commented on #127
Can you run a trace? `bundle exec jekyll serve --trace` or `bundle exec jekyll build --trace`

That will give he a bit more to go on.

[2019-05-08 10:24] gfrkorea commented on #127
I got the same error. build was successful. build trace show nothing useful.
although serve trace is as below.

`ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-musl]
Configuration file: /srv/jekyll/_config.yml
            Source: /srv/jekyll
       Destination: /srv/jekyll/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
[jekyll-webmention_io] Webmentions

[2019-05-08 10:46] gfrkorea commented on #127
I guess this issue is not due to webmention extension. I re-run same command that showed last error message. and it worked.

[code]

[2019-05-09 23:47] aarongustafson commented on #127
::phew::

[2019-05-09 23:47] #127 closed

[2019-06-03 02:28] leecalvink commented on #125
Hi Aaron.

The existing template documentation is a little unclear. For instance, are the elements listed in the Default template info ones you must use in your own templates? Is it possible for example to use a section tag, rather than a div for the overall container?

Also will the generated output behave and stick strictly to custom templates or does it spit out elements that you decide not to

[2019-06-03 03:52] aarongustafson commented on #125
If you make a custom template, it will only output what you want it to. You can use the ones baked in as a starting point if you like. Only the variables matter and any unused ones will be omitted. You have complete control. You can also view the raw webmentions cached by the plug-in and reference any of the available dates (including the raw/unsynthesized webmention).

[2019-06-03 20:30] leecalvink commented on #125
Sounds perfect, thank you.

[2019-09-16 10:38] nysander opened #128 "Webmention send to brid.gy only triggered when syndication link inline of post"
I found an issue when webmention send to brid.gy is triggered only when I paste syndication link inline like in post below:

    ---
    layout: note
    date: 2019-09-14 22:44:00 +0200
    categories: note
    ---
    This is only test, nothing to read ... do not disturb yourself :)

    This will be sent to brid.gy
    [](https://brid_gy/publish/twitter)  &lt;&lt; dot "." replaced with underscor

[2019-09-16 14:42] nysander commented on #128
github broke &lt;&gt; in template source but I think this has no influence on problem understanging [](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-issue-update/)

[2019-09-17 06:46] aarongustafson commented on #128
@nysander Does the URL show up in your outgoing webmentions cache file? I did a quick test of [the content scanner](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/generators/queue_webmentions.rb#L73-L77) and it seems to pick up that URL. Perhaps the issue is that URI is not set up to receive them? Can you [turn on debugging](https://aarongustafson.github.io/jekyll-we

[2019-09-17 07:14] nysander commented on #128
I have turned on debugging and cleared cache.

this is test post file:

    ---
    layout: note
    reply-to: https://twitter.com/PawelMadejCK/status/1172787087441047552
    date: 2019-09-14 22:57:00 +0200
    hashtags: [ syndication, test]
    syndicate: true
    categories: note
    ---
    This is only reply test, nothing to read ... do not disturb yourself :)

I have ran `bundle exec jekyll b

[2019-09-17 07:27] nysander commented on #128
On the other site please look at for example url:

https://www.pawelmadej.com/note/132100/

it has syndication links two times because I have added one url inside post markdown body and second is from template. and this one was sent to bridgy, previous one not.

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-128/)

[2019-09-17 08:09] aarongustafson commented on #128
I suspect the issue may be that you are using `reply-to` as a key in the front matter as opposed to `in_reply_to` which is [what the script is looking for](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/lib/jekyll/generators/queue_webmentions.rb#L70-L72). I need to review the docs to see if I need to update them.

[2019-09-17 08:24] nysander commented on #128
this is not an issue, I have that issue also for this github issue, and this comments. And for twitter likes and new “tweets” that do not have at all `reply-to`

in template source there is microformats `class="u-in-reply-to"` when it is relevant. where not I do not use it in template and in front matter

[https://pawelmadej.com/notes](https://pawelmadej.com/notes) here you have all sources and al

[2019-09-17 08:33] aarongustafson commented on #128
I give this some fresh eyes in the AM.

[2019-09-17 08:37] nysander commented on #128
According to [https://brid_gy/about#microformats](https://brid_gy/about#microformats) there is `u-in-reply-to` microformat not the `in_reply_to` as in attached source link.

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-128-3/)

[2019-09-17 08:44] nysander opened #129 "Bad urls cached to early"
I have found yet another bug when creating issue #128. When I tried to give you an url to Bridgy (which does not have its webmention target defined) like homepage or about page it got catched as bad url and later on all syndication urls to bridgy were ignored.

So I needed to underscore all urls dot “.” to make wrong domain and not ignore syndication urls.

Maybe cache should be written only after

[2019-09-17 08:55] nysander commented on #128
I can provide my full template and example files if this will help you in resolving this issue.

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-128-4/)

[2019-09-17 22:42] aarongustafson commented on #128
It might. Or I can check out your project and test a local build.

[2019-09-18 02:46] aarongustafson commented on #129
Can you provide the URLs that failed the check and one that would pass? The whole "bad URLs" approach is intended to speed up the Jekyll build cycle, so I want to find the right balance.

[2019-09-18 06:41] nysander commented on #128
I have sent you invite. Please consider that for now this repo is private.

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-comment/)

[2019-09-18 07:39] nysander commented on #128
I have sent you invite. Please consider that for now this repo is private.

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-128-comment-5/)

[2019-09-18 07:39] nysander commented on #129
Make post with below content. Replace underscore “_” in urls with dots “.”

    ---
    title: examples
    ---
    This url will trigger bad url cache [bridgy](https:\\brid_gy)
    This url will hit bad url cache and will be ignored [](https://brid_gy/publish/github)

[](https://brid.gy/publish/github)

(Originally published at: https://www.pawelmadej.com/issue/jekyll-webmentions_io-129-comment-1

[2019-10-19 16:11] nysander commented on #128
have you found where is the source of this issue?

[2019-11-04 16:49] nhoizey opened #130 "Compatibility with Jekyll 4"
I plan to upgrade my site to Jekyll 4, and there a few plugin still not compatible, like this one.

Do you know if anyone tried to use current version with Jekyll 4?

[2019-11-06 18:02] aarongustafson commented on #130
I do not. Can you tell me what’s changed?

[2019-11-06 18:10] miklb commented on #130
I will be testing this week using GitHub Actions so can also report out.

[2019-11-10 17:28] kslstn commented on #130
I can't get it to work with Jekyll 4, Bundler chooses to use Jekyll 3.8.6 instead.

[2019-11-10 17:31] miklb commented on #130
If you are using the GH-pages gem, then that’s probably the Jekyll version pinned. I’ve not gotten to Actions yet.

[2019-11-10 19:42] kslstn commented on #130
I updated everything (including Jekyll to 4.0.0) before adding the plugin to the gemfile. After adding it, I had to `bundle update` and had jekyll downgraded.

[2019-11-15 21:25] nhoizey commented on #130
@aarongustafson I think most changes are related to performance improvements, but there are a few breaking changes. Maybe @DirtyF can help us there.

@kslstn I had to fork the plugin to try Jekyll 4, and use my fork instead of @aarongustafson's latest release: https://github.com/nhoizey/nicolas-hoizey.com/blob/jekyll4/Gemfile#L33

Be careful, this is just for experimentation, I don't build my prod

[2019-11-17 16:09] fancypantalons commented on #128
So, I think I see the issue, here, as I just ran into it myself.

Fundamentally, the issue is that the webmention gatherer is a Jekyll Generator.  As per their docs, generators are run after the content for the site has been identified, but before the site has been generated.

Unless I'm mistaken, that means that "post.content" in the generator, contains the unprocessed markup, rather than the for

[2019-11-17 18:14] nysander commented on #128
For me that is fine solution

[2019-11-18 19:31] aarongustafson commented on #128
That’s an interesting idea, @fancypantalons. I like it, although with underscores (_) rather than hyphens (-) in the front matter key name. For the key in the config, I wonder if it might make sense to make the key something like `notification_targets`, `publish_endpoints`, or similar. The term `silos` doesn’t immediately indicate what that configuration option would govern. (Also: naming is hard.

[2019-11-19 00:06] fancypantalons commented on #128
Naming and cache invalidation... ;)

Great feedback!  I have a prototype implementation put together.  I'll tweak the names and throw a PR together.

I could see using this same method for publishing to IndieNews, for example, so something along the lines of publish_endpoint--or heck, the obvious now that I think about it: syndication_endpoints--would seem to make sense.

Random aside, there are o

[2019-11-19 05:13] nysander commented on #128
All your work seems great addition to this plugin for me.

[2019-11-19 06:16] aarongustafson commented on #128
I’m open to it. Much of the original work had been driven by my own site’s needs, but I’m happy to continue increasing the functionality.

[2019-11-23 19:07] fancypantalons commented on #129
So I have a couple of thoughts on this one, as it's bitten me a couple of times as well.

There's a few ways I can think of that would cause a webmention can fail:

1. The target doesn't publish a webmention endpoint.  Unless the site operator implements webmention, future attempts will always fail.
2. The site publishes a webmention endpoint, but it returned a 400-class error.  For example, brid.

[2019-11-23 20:26] nysander commented on #129
My idea is to make something like in mail service. few tries and then fail. This can work with increment time to next try and after for example five tries add url to black list.

Main idea is to blacklist url not whole domain as it is for brid.gy domain. if you mention it somewhere you can block whole service in plugin

maybe this can work like:

1st try
2nd try after 1h
3rd after 12h
4th after 2d

[2019-11-23 22:41] fancypantalons commented on #129
Well, the most flexible thing would be, for each of the "kinds" of error (no endpoint, 400-class request error, 500-class server error/network issue), allow the user to specify a policy.

I do think applying the policy to the whole domain makes sense, since that ensures the plugin isn't wasting time testing a bunch of URLs under the same failing domain.  But you could use whitelisting with regexs

[2019-11-23 23:34] nysander commented on #129
So we would have 3 policies ban, ignore and retry?

Proposed defaults are good to me for no config setup while allowing some overrides.

Yep making this separate would be easier to get the point.

Despite of changes we need to be sure to not make it backwards incompatible for certain custom configurations which could be in use. Maybe some deprecation warnings during build or in logs that config sh

[2019-11-24 09:10] fancypantalons commented on #129
Alright, I've taken a run at an implementation of this proposal in this commit: 384b18fb6d44992cdfef93ec6c4cf0f6e52c5863

I've done a fair bit of testing in a playpen and on my own blog and it seems to be doing what I need.

This is designed in such a way that it's totally backward compatible with an existing installation.  The old `cache_bad_uris_for` setting continues to work, and the bad URI ca

[2019-11-24 09:26] fancypantalons commented on #129
BTW, as an aside, @nysander if there are individual posts where you're pushing duplicate webmentions to brid.gy, you can resolve that by just opening up <cache_dir>/webmention_io_outgoing.yml, finding the entries, and changing the value from "false" to "{}" or an empty string.  That'll mark the webmention as sent and the plugin will subsequently ignore it.

And now I understand the other problem y

[2019-11-24 09:59] fancypantalons commented on #129
And 310d50f is a quick and dirty implementation of a new max_attempts setting that causes the plugin to give up on individual webmentions.  And it's very late, so if it's not well thought through... in my defense, I'm not thinking that straight at this point. :)

[2019-11-24 11:05] nysander commented on #129
Well to me it is noon now 😉 I will check this out but I have very little near zero ruby skills but some patterns maybe I will understand. More comments to go. Thanks for your work

[2019-11-24 19:51] fancypantalons opened #132 "Add syndication URLs to page front matter"
This might be a bit too specialized, but I figured I'd raise your attention to a feature I threw together.

The issue I had is that, on my blog, I am syndicating posts to Twitter using brid.gy.  This works great!  However, on my on site, I wanted to include a link to the resulting Twitter post.  This data is present in the response object that comes back from Brid.gy.

So I threw together this com

[2019-11-26 01:56] miklb commented on #132
Brid.gy returns a json object of the tweet. I at one time would save that response to `_data` so I could pull the url & any other info I wanted to use.

My approach was a homegrown solution using Travis & a rake task, but was effective.

[2019-11-26 08:36] nysander opened #133 "Syndincation to silo without clickable url"
I saw this idea in tweets from tantek syndicated to twitter from its personal page.

urls are not urls at all for short thoughts etc. they are only text representation of text url like

so tweet contains "(example.com/XYZ)" text not the "(https://example.com/XYZ)" url. When you do not use popular shortener url text won't be automatically parsed to valid url and make linkable.

idea behind this is

[2019-11-26 16:43] fancypantalons commented on #132
Yup, we could definitely just suck in the entire response payload and stick it in the page data so it's available in the layout.  I was definitely a bit more surgical in my first implementation.

The most flexible option would actually be to support making this configurable.  i.e., something like:

[code]

In this design, the specific "syndication" key in the page front matter is populated with th

[2019-11-26 18:20] fancypantalons commented on #133
I believe you're referring to the debate around [permashortlinks](https://indieweb.org/permashortlink) and [permashortcitations](https://indieweb.org/permashortcitation).

It's definitely something I was contemplating recently.  Speaking for myself, I'm not sure I'd turn this on, as it seems it's pretty controversial.  In particular, these comments:

and:

led me to question whether it's something

[2019-11-26 18:56] aarongustafson commented on #132
Are you looking at syndication being a top-level config setting (not nested in the plugin's namespace)? If you are, which is fine, it may make more sense to break it out into its own plugin so as not to confuse folks implementing it.

If you do decide to bundle it under this plugin's config, do we need two levels of depth? Could it simply be something like

[code]

Also, it seems possible (or prob

[2019-11-26 18:57] aarongustafson commented on #133
I have no strong opinion other than, if offered, outputting it should be optional and default to it **not** being included.

[2019-11-26 18:59] aarongustafson commented on #130
I have not upgraded yet, so I can't speak from experience on this one (yet). @jgarber623 may have some ideas as well.

I welcome a PR as I’ve been pretty swamped lately.

[2019-11-26 19:04] fancypantalons commented on #132
Oh, no, to be clear, if I were to restructure the configuration layout for syndication, I would *definitely* want that "syndication" sub-tree to be nested under the "webmentions" root node.  I just elided that so I could type less. ;)

Interesting point about collection-specific syndication!  I love that idea!  It could allow you to completely automate certain types of syndication without requirin

[2019-11-27 12:50] nysander commented on #133
well for now you have posse source added to tweets that are created by brid.gy. And I saw in many short notes that they are clicked on twitter and then abandoned on my page. so for now it is a bit broken to me.

Question is if this is just brid.gy fault or that could be changed on this plugin site what is syndicated to twitter / other silo

I will opt to (if ever) make this optional in post front

[2019-11-27 14:58] fancypantalons commented on #133
So are you saying the links on the POSSE'd copy (i.e. on twitter, github, etc) contain a *broken* link back to your site (that is, the link doesn't point to the right place) and so clicking it doesn't take people to your website?  Do you have an example?

Or am I misinterpreting what you're saying?

[2019-11-28 00:19] aarongustafson commented on #129
I read through everything in this thread, but perhaps I missed something. What are the implications of each of the policies in terms of when (if ever) they are checked again, etc.? Could you do a basic breakdown in a list? This will be key for documenting the new configuration options.

[2019-11-28 15:27] fancypantalons commented on #129
Hmm, I tried to give a... passable... overview of the full feature in the doc updates here:

https://github.com/fancypantalons/jekyll-webmention_io/blob/cbeb16c9247850ea84589ca9ced501e405cb4c26/docs/bad_uri_policy.md

I'm more than happy to clarify the material, there, if it's not sufficiently clear!

[2019-11-28 18:56] fancypantalons commented on #132
Alright, I've moved the syndication into a branch and implemented the first phase of the proposed change here:

https://github.com/fancypantalons/jekyll-webmention_io/commits/syndication

Obviously I can squash this before I generate a pull request, presuming that you're happy with how this looks!

This commit changes the syndication configuration layout as follows:

[code]

This does not yet incl

[2019-11-29 23:21] aarongustafson commented on #129
Thank you for this! I'll be on vacation through December 6th but can take a look when I return.

[2019-12-01 03:04] fancypantalons commented on #133
So, couple follow-up comments on this one.  First, to handle URL shortening for my posts, I threw a plugin together here:

https://github.com/fancypantalons/jekyll-shortener

I'm using this plugin plus Apache and mod_rewrite, as documented in the plugin README, to generate short URLs on my own domain for all of my posts.

If I wanted that URL to show up in the POSSE'd copies sent via Brid.gy, I'd

[2020-02-08 20:08] danielpietzsch commented on #130
Hi there,

fwiw, I have started using this gem with [my own site](https://danielpietzsch.com), which started as a fresh Jekyll 4 project not long ago.
So far, I haven’t come across any errors. I’m currently using @nhoizey’s fork for gem spec compatibility. Built, deployment and hosting is done via Git**Lab** pages ([here’s an example of a post with a webmention](https://danielpietzsch.com/articles

[2020-03-23 01:03] poblabs opened #137 "Unknown tag 'webmentions_head'"
Hey there, I'm a total noob with ruby and gems, but I thought I followed everything right. It says 1 gem installed. So then when I try to add this plugin to my site, I get this:

Any help?

[code]

Full trace is:

[code]

[2020-03-23 16:24] aarongustafson commented on #137
Can you post your gem list?

[2020-03-23 16:25] poblabs commented on #137
Sure thing

[code]

[2020-03-23 16:33] aarongustafson commented on #137
Do you have the gem listed in your site’s Gemfile too?

[2020-03-23 16:34] poblabs commented on #137
Yes I do

[code]

and in my `_confif.yml` I have this:

[code]

[2020-03-23 16:36] aarongustafson commented on #137
Hmm, weird. Is your repo somewhere I can grab it to take a look?

[2020-03-23 16:37] poblabs commented on #137
No, it's offline. I've been using this command to build the site adhoc:

[code]

I can attach anything that you think would help?

[2020-03-23 16:38] poblabs commented on #137
I will say that installing the gem using `gem install jekyll-webmention_io` gave me quite a few headaches. I ended up having to use these commands and it seemed to have worked.

[code]

I'm on Ubuntu 18.04

[2020-03-23 19:39] aarongustafson commented on #137
@poblabs I am honestly at a loss, but I suspect the gem is not installed properly (or not instantiated properly in jekyll). In my site `_config.yml`, I do not have it in my gems section. Which Jekyll version are you using? I’m on 3.6.x.

[2020-03-23 19:53] poblabs commented on #137
Jekyll 4.0.0. Any tips on how to remove and reinstall? I can post traces if it goes south. Sadly I'm a gem noob and am learning with every command I type in.

[2020-03-23 19:56] poblabs commented on #137
@aarongustafson I moved it from the `_config.yml` gem section to plugin section and the trace shows this:

[code]

Looks like it's being blocked because of a version conflict?

[2020-03-23 20:15] aarongustafson commented on #137
I have not made it Jekyll 4 compliant yet as I have not migrated my own site. I think some other folks were working on that though. @nhoizey you were working on it at one point, right?

[2020-03-23 21:22] poblabs commented on #137
I guess for giggles, what [if I change this line to 5.0 instead of 4.0](https://github.com/aarongustafson/jekyll-webmention_io/blob/master/jekyll-webmention_io.gemspec#L41)? Is there a way to run this gem from the git source?

[2020-03-24 16:45] aarongustafson commented on #137
You can run the gem from a local source by pointing it to a local folder. The gem was originally made for 3.x.

[2020-03-24 16:52] poblabs commented on #137
Ok, I'll play with it but I doubt I'll make headway. Suppose I'll wait and see if @nhoizey has any updates.

[2020-03-29 20:53] poblabs commented on #130
@danielpietzsch How were you able to get it working with Jekyll 4? I cloned @nhoizey's fork, ran these commands:

[code]

[code]

But when adding ` {% webmentions_head %}` I still get the error

[code]

I'm sure I'm missing something easy somewhere

[2020-04-02 09:47] tosbourn commented on #130
@poblabs I think the following in your gemfile should do the trick, no need to build manually.

[code]

[2020-04-02 09:59] danielpietzsch commented on #130
@poblabs Yes, @tosbourn is right with that line, although, you would need to specify the @nhoizey ’s `jekyll4` branch. I have this in the Gemfile of my project:

[code]

General update, FYI:

* Have tried custom templates for “likes" and “replies”: ✅Works.
* Have _not_ tried sending webmentions. ❓
* Loading new webmentions via JS (without `jekyll build`): ❌ does not work.

The last failing point m

[2020-04-02 12:34] poblabs commented on #130
@danielpietzsch @tosbourn Thanks guys for the tips. No luck yet though.

I'm new to this so still unsure what's wrong. Here's what I did...

I added this to my Gemfile

[code]

Then ran:

[code]

Gem list shows this - I don't see it in this list:

[code]

However this looks like it's available?

[code]

Building my site gives the same error:

[code]

[2020-04-02 12:35] poblabs commented on #137
Closing in favor of #130

[2020-04-02 15:45] danielpietzsch commented on #130
The problem might be that you run `bundle install` using `sudo` – which is not recommended. Try getting it to run with root privileges.

And I think discussing this over at https://github.com/aarongustafson/jekyll-webmention_io/issues/137 is the more appropriate issue, since I don’t think this problem is specific to “Jekyll 4” (apart from having to install a specific work where that gem spec allow

[2020-04-02 20:00] poblabs commented on #130
Still having problems installing as root. I'll re-open #137 with more info there.

[2020-04-02 20:06] poblabs commented on #137
Re-opening. Still unsure why I'm so stuck. Here's my latest attempt:

`sudo su` to elevate to root

[code]

Let's clean things up:

[code]

Verify it's gone:

[code]

Now that it's gone, try to install again (still as root user):

[code]

It doesn't show up in the list of gems though:

[code]

But it does have info to show:

[code]

Still unable to build the site after all of this

[code]

[2020-04-02 21:27] danielpietzsch commented on #137
Sorry, [over in the other issue](https://github.com/aarongustafson/jekyll-webmention_io/issues/130#issuecomment-607926633) I meant to say _not_ to install as root.

[2020-04-02 21:38] poblabs commented on #137
@danielpietzsch No problem. If I try it as my local user I get some errors:

[code]

[2020-04-10 18:28] leecalvink commented on #137
Looks fine to me. Are you still having issues? You were installing gems system-wide before as opposed to your user account now. Does running bundler still give the unknown tag error? Don't forget to put your user gem folder in your PATH.

[2020-04-10 19:46] poblabs commented on #137
@leecalvink Yeah still can't get it to work. bundler doesn't give m the unknown tag, but the jekyll build Liquid generator does.

Adding my user gem folder to the PATH does seem to help though I'm getting a new error.

[code]

[2020-04-21 05:06] leecalvink commented on #137
Weird. That indeed looks like something wrong with the plugin. It looks like you are using a rb file instead of a gem? I'm assuming the file contents are up to date with the current gem?

[2020-07-21 01:30] 0xdevalias opened #138 "Update webmention dependency from 0.1.6 to latest (v5.0.0)"
Currently this plugin depends on an old version of the `webmention` gem (`0.1.6`), which is now up to `3.0.0`.

- https://github.com/aarongustafson/jekyll-webmention_io/blob/master/jekyll-webmention_io.gemspec#L47
  - `s.add_runtime_dependency "webmention", "~> 0.1.6"`
- https://github.com/indieweb/webmention-client-ruby/releases
  - breaking changes at v1.0

[2020-08-05 18:53] stevenjmesser opened #139 "Unable to run on Jekyll 4"
https://github.com/aarongustafson/jekyll-webmention_io/blob/8a9e5a199df899490a93782796124105eda21660/jekyll-webmention_io.gemspec#L41

Is it possible to update the dependencies so that this can be used with Jekyll 4?

[2020-08-11 14:24] sts-ryan-holton commented on #75
Same issue

[2020-09-15 02:51] cgorshing commented on #139
A good discussion is happening on https://github.com/aarongustafson/jekyll-webmention_io/issues/130 discussing this. You might find it valuable.

[2020-09-15 02:54] cgorshing commented on #138
Now the webmention ruby gem is at 4.0 https://github.com/indieweb/webmention-client-ruby/releases

[2020-09-15 07:36] stevenjmesser commented on #139
Thanks @cgorshing, I'll close this issue as it's clearly a duplicate. Wish I'd spotted that before!

[2020-09-15 07:36] #139 closed

[2020-11-01 10:47] stevenjmesser commented on #130
Unfortunately @nhoizey's fork has been deleted. Does anyone else have a fork of that?

[2020-11-01 15:15] nhoizey commented on #130
I never managed to make Jekyll 4 work with my multiple dependencies, so I stopped and migrated to Eleventy.

I removed my fork, as I forgot anyone might have needed it, I'm really sorry. 😞

[2020-11-02 08:54] stevenjmesser commented on #130
That's OK, no one expects you to keep it around :)

[2020-11-02 09:59] danielpietzsch commented on #130
I’m currently [using my own fork](https://github.com/danielpietzsch/jekyll-webmention_io/tree/jekyll4), which simply updates this repo’s gemspec to signal compatibility with Jekyll 4 and hence make it usable (I think that’s all @nhoizey’s fork did, too).

Feel free to use my fork, too. Here’s what the statement in my Gemfile looks like:

[code]

[2020-11-02 10:10] stevenjmesser commented on #130
Thanks @danielpietzsch, that's a PR I considered raising but I'll try it via a fork!

[2021-01-01 11:39] hoschi-it opened #144 "How can you get the text version of a received webmention?"
Until now, I didn't get in touch with ruby at all. So after browsing the code for like an hour and not finding out anything useful:

To be honest, I do not want to trust strangers to put arbitrary html- and potentially javascript-code to my website. So I need to adapt which part of the json object is used as the content that will be build into the webpage.

Where is the json object of the received

[2021-01-01 20:27] clawfire commented on #77
Doc isn't published in the github pages so all the links are broken

[2021-01-23 10:47] kevquirk opened #145 "Documentation link returns 404"
The "read the docs" link in read me returns a 404. Has the documentation been deleted?

Link: https://aarongustafson.github.io/jekyll-webmention_io/

[2021-03-10 21:29] sajeshcherian opened #146 "Version mismatch when added to Jekyll"
Getting this error about version mismatch when trying to add the ruby gem to Jekyll

[code]

[2021-03-19 17:05] Geo25rey commented on #145
Docs are still available in docs folder in the repo. It's just links are broken

[2021-04-02 22:35] aarongustafson commented on #145
I think this happened when I changed the primary branch name to "main." It shoudl revsolve in a few minutes.

[2021-04-02 22:35] #145 closed

[2021-04-17 17:56] xplosionmind opened #147 "Plugin not working with either Ruby 3.0.1 and 2.7.3"
## Error with 3.0.1

Even if it seems that the problem is caused by a corrupted CSV, when I comment out `jekyll-webmention_io` from my webring I solve the problem. This is the error I get:

[code]

<br>
<br>

## Error with 2.7.3

Again, if I comment out this plugin there are no errors anymore. This is what I get:

[code]

<br>
<br>

## Context

For more context, allow me to paste below the content

[2021-07-10 17:41] dltj opened #148 "Tweet that contains what looks to Markdown like an ordered list generates flawed HTML"
This is an interesting edge case.  There is a tweet that references my blog post that contains a character sequence that corresponds to Markdown markup for emphasis (e.g. the `*any*` part of the tweet):

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">5. My point being not that major releases are often handled badly, and are disastrous for that reason; but the much more fundamental point

[2021-07-10 19:32] dltj commented on #148
So I've been digging further, and I found [lines 58-60 of `lib/jekyll/webmention_io/webmention_item.rb`](https://github.com/aarongustafson/jekyll-webmention_io/blob/5987234/lib/jekyll/webmention_io/webmention_item.rb#L58-L60) as the source of the problem.  kramdown (the Markdown conversion tool I have configured in my Jekyll configuration) is converting the text of that tweet into an `<li>` becaus

[2021-07-19 20:22] erikw opened #151 "[ruby 3.0] Error: undefined method `encode' for URI:Module"
In ruby 3.0, the `URI.encode()` seems to be removed. See a similar issue over at the module GitHub about `URI.escape()`. https://github.com/ruby/uri/issues/14

Using
- ruby: `v2.7`
- Jekyll: `v3.4`
- jekyll-webmention_io: `v3.3.5`

and compiling I already get a warning

[code]

If I switch from ruby `2.7` to `3.0.1` with RVM, I get
[code]

The mentioned line from the source is at https://github.co

[2021-07-22 21:12] aarongustafson commented on #11
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:13] aarongustafson commented on #56
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:13] aarongustafson commented on #107
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:13] #117 closed

[2021-07-22 21:14] aarongustafson commented on #124
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:14] #125 closed

[2021-07-22 21:14] aarongustafson commented on #129
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:14] aarongustafson commented on #130
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:15] aarongustafson commented on #132
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:15] aarongustafson commented on #133
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:15] #137 closed

[2021-07-22 21:15] aarongustafson commented on #137
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:15] aarongustafson commented on #138
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:16] aarongustafson commented on #144
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:16] aarongustafson commented on #146
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:16] aarongustafson commented on #147
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:16] aarongustafson commented on #148
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:16] aarongustafson commented on #151
I kept having Ruby/Jekyll issues when upgrading my Mac, so I have moved off of Jekyll and will not be working on this project anymore, going forward. I am going to flag this as won’t fix, but leave it open in case someone else wants to pick up the project from here.

[2021-07-22 21:55] cgorshing commented on #138
I'd be interested in helping wit this as I'm currently using it.

[2021-07-22 23:39] dltj commented on #148
Hello Aaron,

Ruby issues on MacOS?  That sounds familiar.  Thanks for your efforts in getting the Webmentions plugin this far...it is a good piece of work.  (Embedding then rendering the templates in JavaScript for the realtime updates is inspired.)  I wish I knew Ruby—if I did, I'd likely volunteer to pick this up.  Best of luck with your future endeavors.

[2021-07-22 23:39] #148 closed

[2021-07-25 23:26] twhite96 commented on #56
@aarongustafson Let me know how you're liking 11ty!

[2021-08-01 03:20] gryslik commented on #147
I get this exact same error.

[2021-11-11 22:52] fancypantalons commented on #130
I believe I've made all the necessary changes to fully support Jekyll 4.  As I'm running Jekyll 4 myself and making use of these changes, I'm comfortable calling this issue closed.  If anyone runs into any issues, please file a new issue or comment on this one!

[2021-11-11 22:52] #130 closed

[2021-11-11 22:53] fancypantalons commented on #146
This has been resolved in the master code-base, but obviously it won't be completely resolved until a new package is published to rubygems.

Until then, feel free to reference the github repository in your gemfile and things should work.

[2021-11-11 23:03] fancypantalons commented on #151
The core issue, here, has been resolved with PR #150.  For that reason I'll be closing this specific issue as resolved.  That said, I've not looked at the broader issue of supporting Ruby 3.

[2021-11-11 23:03] #151 closed

[2021-11-11 23:57] fancypantalons commented on #138
@cgorshing Do you already have a draft of the necessary changes available that you could use to open a PR?  I've been added as a contributor on the project and can work with you to merge them in.

[2021-11-12 07:19] erikw commented on #130
Thank you @fancypantalons!

[2021-11-12 09:09] kslstn commented on #130
Thanks @fancypantalons! Somehow it doesn't work for me with Ruby 3.0.0/Jekyll 4. I removed all other plugins from my Gemfile, removed Gemfile.lock and run `bundle install`. It results in:

[code]

My Gemfile:
[code]

[2021-11-12 10:18] erikw commented on #130
@kslstn Ruby 3 is a separate issue: #147

[2021-11-12 18:40] fancypantalons commented on #130
It looks like you're still pulling the gem from rubygems, but until a new package version is published, you're going to need to use the gem directly from github.  Try this configuration:

[code]

[2021-11-12 19:00] fancypantalons commented on #147
So regarding your first stacktrace on Ruby 3.0.1, the only way I can manage to replicate this is by defining a data_dir, and then sticking a CSV file in that directory (the posted backtrace leads to code in Jekyll to read CSV data files as per [the Jekyll docs](https://jekyllrb.com/docs/datafiles/).  That is, in my `_config.yml` setting:

[code]

Then placing a simple CSV file in the `data/` direc

[2021-11-12 19:04] fancypantalons commented on #147
Regarding the 2.7.3 error, looking at the code, that looks like a result of the "webmentions" configuration block not being in your _config.yml.  Could you post your site configuration when replicating that issue?

[2021-11-12 23:18] fancypantalons commented on #138
I've created a PR for this but I haven't had a chance to throughly test it yet.  The changes are small enough that I think it's in good shape, but if anyone could give this PR a shot, that'd be very helpful!

[2021-11-13 07:07] kslstn commented on #130
Awesome, that was it!

[2021-11-13 10:09] xplosionmind commented on #147
I have a data directory with several CSVs inside, named `_data`, as by default. Nevertheless, I added to `_config.yml`:
[code]

Still, it is not working.

[2021-11-13 10:11] xplosionmind commented on #147
Sure, I am using the same configuration always, but I am using Jekyll 3.0.2 only, now.

My `_config.yml`:

[code]

[2021-11-13 10:12] xplosionmind opened #154 "undefined method `[]=' for nil:NilClass"
When building my Jekyll website, I get:

[code]

[2021-11-13 15:11] kslstn opened #155 "Can't get {% webmentions %} tag to output something"
I installed the latest version compatible with Jekyll 4. It seems to run fine, fetching webmentions and saving them in the .cache directory. The only problem is that the `{% webmentions %}` tag doesn't insert anything into my templates. Neither with normal builds or with the serve tag.

Perhaps worth mentioning is that with every build the terminal shows:
[code]
But I suspect that that's unrelated

[2021-11-13 16:34] kslstn commented on #155
Ah got it—it works with `{% webmentions page.url %}`!

[2021-11-13 16:34] #155 closed

[2021-11-13 22:11] fancypantalons commented on #138
Well, irony of ironies, the Webmention client moved to explicitly *not* allowing Ruby 3 back in June of 2018, which means that if I upgrade the Webmention dependency, we lose the ability to run on Ruby 3.  For now I'm going to hold this PR and hopefully the Webmention gem will get updated...

[2021-11-13 22:37] fancypantalons commented on #147
Yeah, I wouldn't have expected that to fix the issue.

What's strange is I can absolutely replicate this issue, but I *cannot* resolve it by removing the plugin.  i.e. whether the webmention plugin is in my Gemfile or not, if I have a CSV file in my data directory, the issue triggers.

This seems to match what I'm seeing, elsewhere, suggesting this is a Jekyll 3.9 bug due to an incompatibility wit

[2021-11-13 22:42] fancypantalons commented on #147
That's what I thought!  I was able to replicate this by setting up the plugin, *not* specifying a `webmentions` configuration block in `_config.yml` and then running `jekyll serve`.  This triggers a bug that I'll resolve shortly.

Meanwhile, as a workaround, specify a `webmentions` block with a basic configuration and the issue should disappear.

[2021-11-13 22:56] fancypantalons commented on #154
Resolved in main with 63c4087.

The issue, here, is that the `_config.yml` file lacked a `webmention` block, and the code which disables webmention lookups during a local `serve` was assuming it's presences.

[2021-11-13 22:56] #154 closed

[2021-11-13 23:28] fancypantalons commented on #144
So there's two areas you'll want to be looking.  First, there's `lib/jekyll/webmention_io/webmention_item.rb`, and two specific methods, `#determine_content` and `#markdownify` (the former of which calls the latter).

That code is what takes the original webmention and renders the markdown which is ultimately cached in `webmention_io_received.yml`.

Additionally, the `lib/jekyll/templates/` contai

[2021-11-14 09:11] xplosionmind commented on #147
I am tremendously sorry. I mistyped what I meant, and I now corrected what I wrote:
I am using **Jekyll 4.2.1** with **Ruby 3.0.2**.

Sorry for my mistake.

<br>
<br>

You mean that adding the plugin to Jekyll and not using it causes an error?
This is funny, but thank you for your help!

<br>
<br>

No problem! Thank you very much.

[2021-11-14 11:46] kslstn commented on #125
Could anyone tell me how custom templates are supposed to be set up? What I believe I should do is:
1. Set up the config so the plugin knows what template to use for what include, [as already described in the docs](https://aarongustafson.github.io/jekyll-webmention_io/configuration#exhaustive-example).
2. Add liquid files for each include, f.e. `_includes/webmentions/likes.html` for HTML that's in

[2021-11-14 16:43] xplosionmind opened #158 "Error when building and deploying via Netlify"
Here is my Netlify log. The error persists even after purging the cache, as it suggests:
[code]

[2021-11-14 16:59] xplosionmind opened #159 "ERROR `/{{ webmention.author.photo }}' not found."
When serving my website, when opening almost any page, I get this in the terminal:

[code]

I have no idea of the source of the error. Should I add a link to my profile picture in `_config.yml`? How and where?

[2021-11-16 19:16] fancypantalons commented on #159
This looks like a bug in Firefox 94.

The way the client-side javascript works, there's a custom tag "<template>" tag that's created containing a Liquid template that's evaluated client-side to render webmentions dynamically.

The contents of that tag *should* be completely ignored by the browser, and running a quick test in Chromium, I'm seeing that.  The same is true in Firefox 92.

But in Firef

[2021-11-16 19:21] fancypantalons commented on #158
This is an issue in your deployment process.  The key fragment is this bit:

[code]

This is an issue that originates in `ssh` on the server side.

I can't provide troubleshooting for your deployment script, here, but I expect you need to accept the host key on the server side so that the clone operation can complete.

Alternatively, you could try switching to `https` in your Gemfile, which avoids

[2021-11-16 19:21] #158 closed

[2021-11-16 23:06] xplosionmind opened #160 "URIs containing unicode characters cause validation error"
My Netlify build log (full log [here](https://app.netlify.com/sites/xplosionmind/deploys/6194382ccd88b035d0d4ca8e)):
[code]

[2021-11-17 15:30] fancypantalons commented on #160
That's... a very weird looking, clearly broken URI.

This looks like a possible interaction with the redirect-from plugin.

Could you post the frontmatter for the page where the webmentions are originating?  Judging by the list of URLs, I expect it's a page called "Maturandi".

[2021-11-17 15:37] fancypantalons commented on #147
So, @xplosionmind , judging by the other issues you've opened, can I assume you've resolved the CSV data file issue?  It wasn't clearly to me, from your last comment, where this stood.

[2021-11-17 22:43] xplosionmind commented on #160
Sure. Thanks a lot for your help in troubleshooting.
You can see the source code of the page [here](https://github.com/xplosionmind/tommi.space/blob/main/_posts/2019-06-16-Maturandi.md), while its front matter is here:
[code]

[2021-11-17 22:57] fancypantalons commented on #160
Huh, do you know where these URLs are coming from?

- http://tommasomarmo.com/Maturandi
- https://www.tommi.space/Maturandi

I checked the configuration you threw in #147 and I didn't see reference to either of these domains, and yet they're appearing in the list of collected URIs during the webmention pass, so they've gotta be coming from somewhere...

[2021-11-17 23:01] xplosionmind commented on #160
Those are URLs I set in [my `_config.yml`](https://github.com/xplosionmind/tommi.space/blob/b4413746098190940ab304cb7ad6b735d5be063b/_config.yml#L139) as `legacy_domains`:
[code]

[2021-11-17 23:35] xplosionmind commented on #159
Indeed I can’t.

Let’s hope this problem gets fixed in Firefox!

[2021-11-17 23:35] #159 closed

[2021-11-17 23:44] fancypantalons commented on #160
Ah.  Yup, that'd do it.  I suspect the code is failing to escape those URIs.  I'll dig around.  Thanks for the additional information!

[2021-11-18 07:00] xplosionmind commented on #160
Unfortunately, no.
As you can see below, there is still a problem of compatibility with [jekyll-redirect-from plugin](https://github.com/jekyll/jekyll-redirect-from):

[code]

[full log](https://app.netlify.com/teams/xplosionmind/builds/61958fc33959060007cf6cd1)

[2021-11-18 15:45] fancypantalons commented on #160
Heh, that's a misunderstanding, I haven't fixed anything yet!  :smile:  I'll likely take a look at this issue this weekend.

[2021-11-20 18:16] fancypantalons commented on #160
Alright @xplosionmind , I managed to replicate this by adding a `legacy_domains` block and including one of your domain names that includes a unicode character.

I've pushed a change to the `main` branch that fixes this by ensuring we escape the webmention URI before we fire it.

With my test configuration that resolved the issue.

I'll leave this ticket open until you've had a chance to test the

[2021-11-20 21:16] erikw commented on #159
I can confirm that I see this in Firefox `94` but not in Chrome `96`.

[2021-11-21 10:29] xplosionmind commented on #160
It now works! Thanks a lot, @fancypantalons!

[2021-11-21 10:29] #160 closed

[2021-11-21 10:30] xplosionmind commented on #147
This problem appears to have magically vanished.
Thanks a lot.

[2021-11-21 10:30] #147 closed

[2021-11-22 14:30] xplosionmind opened #161 "“Error: bad URI(is not URI?)” when sending Webmentions"
When running `bundle exec jekyll webmention` **locally**, I get:

[code]

[2021-11-22 15:01] xplosionmind opened #162 "Webmentions are not received"
I believe to have correctly configured the plugin, still, at build time my website receives none.

Firstly, here is the proof that the test webmention was succesfully sent:
<img width="935" alt="Screenshot 2021-11-22 at 3 51 51 PM" src="https://user-images.githubusercontent.com/42862428/142883130-7551c2a2-20d5-4c62-bf9a-be76f8edb483.png">

[Here](https://github.com/xplosionmind/tommi.space/blob/72

[2021-11-22 16:27] fancypantalons commented on #161
Doh!  This is basically the same issue as issue #161, only it's the failure to encode the URI when sending a webmention to a target.  I'll deal with this this week, it's a very simple fix.

[2021-11-22 16:28] fancypantalons commented on #162
Are they present in `webmention_io_received.yml` in the cache directory?

[2021-11-22 16:34] xplosionmind commented on #161
I figured. Thank you very much!

[2021-11-22 16:35] xplosionmind commented on #161
I am sorry, issue closed by accident

[2021-11-22 16:39] xplosionmind commented on #162
They are not for `/cft`, which is the article in question. Nevertheless, by looking at that file I discovered that I am retrieving them for [this post](https://tommi.space/non-sono-abbastanza#webmentions '“Non sono abbastanza„ on tommi.space'), for instance. So it does not appear to be a global problem.

[2021-11-22 16:41] xplosionmind commented on #162
I just thought about this: could it be a problem related to the webmention coming from the same domain of the destination?

Anyways, I am puzzled because I triggered the webmention from <https://indiewebify.me>, and I got a “success” message.

[2021-11-27 15:45] fancypantalons commented on #161
Alright, I've pushed a fix for this as well!

[2021-11-27 15:49] fancypantalons commented on #162
So what does the `webmentions` configuration block look like?  The plugin will by default *only* process posts (i.e. files in _posts) unless you enable processing of pages using the `pages` configuration directive.

[2021-11-27 15:50] #161 closed

[2021-11-27 20:07] xplosionmind commented on #162
It is a post… Since in the in other pages I receive webmentions, I am starting to think that it is a problem of <https://webmentions.io>

[2021-11-27 20:31] xplosionmind opened #163 "the scheme https does not accept registry part: pixelfed.org' (or bad hostname?) (URI::InvalidURIError)"
Error when running `bundle exec jekyll webmention`. Log:

[code]

[2021-11-27 22:01] fancypantalons commented on #163
So this looks like a busted URL to me.  If you look at the error message it reports `pixelfed.org'`.  Notice the stray single quote at the end of the host name.  Can you just the link in the markdown text or wherever it's present to see if it's malformed?

[2021-11-27 22:13] fancypantalons commented on #162
Can you set `debug: true` in your webmentions block, as follows:

[code]

Then:

1. Delete `.jekyll-cache/webmention_io_lookups.yml` (this ensures lookup throttling isn't stopping the plugging from making a request to webmention.io)
2. Run a `jekyll build`
3. Run a `jekyll webmention`

Then post the output from steps 3 and 4?

This will allow us to determine if the plugin is attempting to retrieve

[2021-11-27 22:18] fancypantalons commented on #162
Can you set `debug: true` in your webmentions block, as follows:

[code]

Then:

1. Delete `.jekyll-cache/webmention_io_lookups.yml` (this ensures lookup throttling isn't stopping the plugging from making a request to webmention.io)
2. Run a `jekyll build`
3. Run a `jekyll webmention`

Then post the output from steps 3 and 4?

This will allow us to determine if the plugin is attempting to retrieve

[2021-11-28 20:16] xplosionmind commented on #162
Sure. Outputs are quite long, though. [Output of 3 is here](https://paste.yunohost.org/raw/uyimocimiq) and [output of 4 is here](https://paste.yunohost.org/raw/qusowubozi).

I am sure that the link to `pixelfed.com` is formatted correctly. One strange thing, though: I modified all links which were `pixelfed.com` to `pixelfed.org`, but—even after deleting all of `.jekyll-cache`— I still see `.com`

[2021-11-28 20:20] xplosionmind commented on #163
As mentioned in #162, the issue persist. Formatting is correct, 100% sure.

Note: in `.jekyll-cache/webmention_io_outgoing.yml` I see some links ending with a `'` which should not be there. Content of the file is [here](https://paste.yunohost.org/uqasaqerog.txt).

[2022-01-10 03:44] cgorshing commented on #138
@fancypantalons -> https://github.com/indieweb/webmention-client-ruby/commit/a31aae69b176a681d965976a44b9c900847c1c42 😄

[2022-01-22 23:44] fancypantalons commented on #163
I just checked the source file and I see you're using HTML-style links instead of markdown links, which is almost certainly confusing some regular expression somewhere... I'll poke around and see if I can find the root cause, but the original code was almost certainly not written with that in mind!

[2022-01-23 00:08] fancypantalons commented on #163
@xplosionmind Alright, I was able to replicate the issue in a small test site and pushed a fix.  Feel free to pull the main branch and give 'er a try.

[2022-01-23 00:15] fancypantalons commented on #162
Honestly, I'm starting to think if this is an issue in webmention.io itself.  Manually hitting just this URL:

[code]

Should return webmentions, based on the screenshot of the dashboard you showed.  And yet it returns no results.

By contrast, if I replace that URL with a page on my own blog that has webmentions, it works fine.

[2022-01-23 00:22] fancypantalons commented on #138
It doesn't look like they've published a new version of the gem, but this is good progress!  Just gotta wait, now...

[2022-01-23 07:26] xplosionmind commented on #163
Uhm… I think there still is some sort of error, though not the same. Now no Webmentions at all are sent, when running `bundle exec jekyll webmention`:

[code]

[2022-01-23 07:41] aarongustafson commented on #162
I was gonna suggest reaching out to @aaronpk, so I'm glad you filed the issue. He's been quite responsive and helpful in resolving issues I've encountered in the past (which, frankly, usually ended up being my fault).

[2022-01-23 16:12] fancypantalons commented on #163
The change I made only impacts the webmention gathering/queuing phase which occurs when you run a site build (i.e. `bundle exec jekyll build`).

Can you check `<cache>/webmention_io_outgoing.yml` to confirm there are outstanding webmentions that are queued to be sent?

[2022-01-23 19:06] xplosionmind commented on #163
Yes! There are! Is it normal that all of the links listed end with `: false`? Does it mean that the destination website has not been pinged yet?

[2022-01-23 19:20] xplosionmind opened #164 "Generating Webmentions in non-Markdown pages, too"
The best way to explain what I need is via an example: on [my website](https://github.com/xplosionmind/tommi.space 'tommi.space on GitHug'), I have a page called <cite>[Internet Awesomeness](https://github.com/xplosionmind/tommi.space/blob/main/_notes/public/Internet%20Awesomeness.html '“Internet Awesomeness.md„ on GitHub')</cite> that simply goes through a list of websites I love, stored in [this

[2022-11-28 02:10] fancypantalons commented on #138
It's been some year... alright... finally getting back to this.

I've pushed this change to main.  I've done some basic smoke testing but it deserves some more validation before I close the issue.

[2022-11-28 02:12] fancypantalons commented on #163
Yup, that's exactly what that means.

[2022-11-28 02:13] fancypantalons commented on #146
I believe this is now resolved in 3.3.6 which has been pushed to RubyGems.

[2022-11-28 02:13] #146 closed

[2022-11-28 02:14] fancypantalons commented on #162
Judging by #178 being closed, I'll close this as well.

[2022-11-28 02:14] #162 closed